[2018-09-28 19:51] JustFly1984 opened #777 "[v6.beta.20] Please update eslint-airbnb-config to latest version."
I'm trying to update to eslint 5 and  getting an error on `npm run build`

[code]

With new version it should work fine.

[2018-09-29 17:18] spences10 commented on #774
Hey @jlramosr not relating to a solution here for this so apologies first!

Have you thought about using Windows Subsystem Linux for development?

I started using it around a year ago now (with the Fall Creators Update) and have never looked back, if you're interested take a look at these posts:

This goes over getting it installed:
https://medium.com/@philippealmoore/level-up-your-windows-web-dev

[2018-09-29 19:08] Burnett2k commented on #774
I'm having the same problem. Windows should work OOTB IMO. I will switch back to gatsby rather than install a Linux subsystem.

[2018-09-29 19:43] Herohtar commented on #774
It works out of the box on the stable branch. I wouldn't judge a project based on it's beta.

[2018-09-29 19:56] Burnett2k commented on #774
Ah I see.  I didn't realize I was pulling down the beta when I did npm install. I will try and switch to the beta assuming they will fix the windows issue in version 6... It seems like it should pull stable by default rather than the beta?

[2018-09-29 20:02] Herohtar commented on #774
They had some issues with tagging, but I thought @tannerlinsley had sorted it out.

[2018-09-29 20:06] Burnett2k commented on #774
It doesn't appear so. I just had to run `npm install -g react@static@1.9.8` to get the latest build.  And it is now working for me so thanks for the heads up!

[2018-09-30 02:07] maplethorpej commented on #588
@kgcreative's fix works, but I had to install the package first and then import it: `import ExtractTextPlugin from 'extract-text-webpack-plugin'`

[2018-09-30 08:36] alapini commented on #776
Facing the same issue :

![image](https://user-images.githubusercontent.com/8083526/46255373-8b8cc180-c49c-11e8-8ef1-cbe206d8440b.png)

[2018-09-30 20:38] lexaurin commented on #753
Issue was not fixed, still failing on `TypeError: this[NS] is not a function`.

Tried clean install and build of 6.0.0-beta.22

[code]

[2018-09-30 21:14] lexaurin commented on #753
I see now, it's because `react-static-plugin-sass` was not updated on npm yet. Could you please release 1.0.2 version @tannerlinsley ?

[2018-09-30 21:19] lexaurin commented on #753
So I tried to build master version of `react-static-plugin-sass` and linking it to my react-static example with sass. Still failing but error is now different:

[code]

[2018-10-01 08:10] jlramosr commented on #774
I have installed version 5.9.8 as @Burnett2k says. When I create a new project now, I have not any problems (thanks!). But when I run it with `npm start` I received the next message:

[code]

Thanks for all your help.

[2018-10-01 13:42] Burnett2k commented on #774
Turns out I spoke to soon. Installing @5.9.8 allowed me to create the project, but I still get the same error when I try and actually run it using the markdown template. Here is the error:

`$ npm start

┌─────────────────────────────────────────────────────────────────────┐
│                       npm update check failed                       │
│                 Try running with sudo or get acces

[2018-10-01 14:19] Herohtar opened #781 "@latest and @next point to wrong versions on npm"
### Problem

npm currently has `6.0.0-beta.22` listed as the current version for `@latest`, while `@next` is pointing at `6.0.0-beta.21`.

### Expected Behavior

`@latest` should point to the current stable version (`5.9.8`) and `@next` should point at the current beta.

[2018-10-01 14:29] tannerlinsley commented on #781
Fixed. https://unpkg.com/react-static@latest => https://unpkg.com/react-static@5.9.9

[2018-10-01 14:29] #781 closed

[2018-10-01 14:33] tannerlinsley commented on #666
We probably need to add hooks to the client side for that, yes. Adding hooks to the client side is a different ball-game. We could take a page out of Gatsby's book on this one because we probably need to have server-side hooks and client side hooks use different import contexts.

What that really means is that you'll have to define your server-side hooks like normal, and define your client side ho

[2018-10-01 14:37] tannerlinsley commented on #774
FYI, the latest tag has been fixed. https://unpkg.com/react-static@latest once again points to https://unpkg.com/react-static@5.9.9/. Sorry for that.

As for this issue, I'm not sure what it is exactly, but it appears that babel is choking on some array-set usage. I've never seen this, and the error is pretty vague. Is there any more information you can give us? Have you upgraded to the latest sta

[2018-10-01 14:38] tannerlinsley commented on #777
Are you seeing any other problems with the new version? Last time we tried to upgrade, we saw errors since it was not ready for eslint 5

[2018-10-01 14:40] tannerlinsley commented on #776
We're currently fixing some double processing problems with babel that are likely the cause of this error. Stay tuned.

[2018-10-01 14:48] tannerlinsley commented on #772
Almost all of the errors I'm seeing in these logs are babel related. It appears either a babel plugin is missing entirely, or one of them is misbehaving on your machine.

If you remove the `siteRoot` modification, do any more of them build?

[2018-10-01 14:49] tannerlinsley commented on #767
That plugin was just updated, so we'll take a look at this.

[2018-10-01 14:50] tannerlinsley commented on #766
I would accept a PR to fix this.

[2018-10-01 14:52] tannerlinsley commented on #757
It's published. Go ahead and try!

[2018-10-01 14:53] Herohtar commented on #774
I cannot reproduce either of @jlramosr or @Burnett2k's issues with 5.9.8 on Windows using the markdown and material-ui templates. However, the array-set issue does happen for me with `6.0.0-beta.22` on the latest node.js and npm.

[2018-10-01 14:56] tannerlinsley commented on #750
I would really like to get this replaced and flesh out the routing API a lot more for v6:

My hopes for the api would be something like:
[code]

[2018-10-01 15:44] tannerlinsley commented on #750
I would really like to get this replaced and flesh out the routing API a lot more for v6:

My hopes for the api would be something like:
[code]

[2018-10-01 15:49] tannerlinsley commented on #762
Hmm, yeah this could be a problem. Interally, everything is either using one of `required.resolve`, `require`, or a webpack array of locations to be used. I've never used workspaces, so this is all new to me. If I showed you some code in the source, would you be able to help me diagnose this?

[2018-10-01 15:58] tannerlinsley commented on #731
Alright guys. I'm planning a react-static live-stream / group chat for all those interested in being a maintainer/contributor.

I will be going through the following agenda items:
- React-Static's past, motivation, goals, and future
- How we want to automate/collaborate on Github and NPM
- Architectural overview
- Code Overview
- Specific implementations for complex parts of RS
- The v6 plugin sys

[2018-10-01 16:02] ScriptedAlchemy commented on #731
if we can do later on in the week, that will be ideal for me :) Will be on the hangout for sure

[2018-10-01 16:03] tannerlinsley commented on #755
A fix for this needs to definitely happen soon. Would love to see a proposal or even a PR for this here!

[2018-10-01 16:05] tannerlinsley commented on #739
Could you try to replicate this again with the latest stable version of RS?

[2018-10-01 18:19] mmcshinsky commented on #731
Between those hours are perfect.

[2018-10-01 18:59] sw-yx commented on #731
if you could give a day's heads up on twitter too that'd be great

[2018-10-01 19:07] JustFly1984 commented on #731
Yes, I'm interested too!

[2018-10-01 19:10] tannerlinsley commented on #731
I think we're going to tentatively shoot for Wednesday, 10AM MST. The hangout will be hosted here: https://hangouts.google.com/call/kxtrzI_sFswXNW3ZUD7vAAEE (I hope those links don't expire)

[2018-10-01 19:14] JustFly1984 commented on #731
Damn, I will be in the road. Hope to see recording after.

[2018-10-01 23:55] loganfromlogan commented on #731
Dang, I'll be at the Framework Summit then. I'll have to check out the recording afterwards.

[2018-10-02 04:58] farskid commented on #731
Time and date works for me :) Excited to be a part of it.

[2018-10-02 09:54] jslowack commented on #755
@tannerlinsley any idea where to start? I'm guessing this issue has something to do with the chunkFileName configuration and its sourcemapping. WDYT?

https://github.com/nozzle/react-static/blob/cd0a60d805c372788a0fedfd3efd97430a0055a3/src/static/index.js#L247

https://github.com/nozzle/react-static/blob/cd0a60d805c372788a0fedfd3efd97430a0055a3/src/static/webpack/webpack.config.prod.js#L39

[2018-10-02 12:46] nechmads commented on #499
Got stuck on the same thing.
Wouldn't it be great if there was a way in static.config.js to tell the route path to ignore everything after the trailing '/'? Similar to what you can do directly with Router.
Then you can simply define a a path under getRoutes like this:
{
        path: '/something/*',
        component: somethingComponent,
        getData: () => ({
          somethingData,
        }

[2018-10-02 16:07] jslowack commented on #755
I've created a PR that fixes this issue: https://github.com/nozzle/react-static/pull/782

[2018-10-02 16:10] #755 closed

[2018-10-02 19:46] AubreyHewes commented on #762
@tannerlinsley Yeah no problem.

I noticed that in the webpack (prod) config there are hard coded locations
i.e. https://github.com/nozzle/react-static/blob/47a1e672cca1dbbc094d5e47bf6ae13af906df55/src/static/webpack/webpack.config.prod.js#L35

Though I am unsure, in the above case, if it is the problem and if so what the solution should be..
Possibly recur up if expected packages are not found..?

[2018-10-02 20:06] tannerlinsley commented on #762
Yeah, would you like to give that a try?

To test this out, you could just go into `node_modules/react-static/lib/static/webpack/webpack.config.prod.js` and modify that line (it may be a bit babelified, but it's doable).

Would could try:
- Removing it. This would default the context to cwd. Even if that works, we should find a way to dynamically set the context to be correct.
- Changing it to you

[2018-10-02 20:17] AubreyHewes commented on #762
@tannerlinsley Yeah will give it a go.

I agree it is strange that the build works except the `Head`

[2018-10-02 21:12] AubreyHewes commented on #762
@tannerlinsley

 * Removing `context` does not help
 * Changing `context` to expected workspace does not help
 * Changing `context` to expected workspace and adding paths to `modules` does not help
 * Removing `context` and adding paths to `modules` does not help

In all cases `renderToStringAndExtract` does not have the required title

    // Extract head calls using Helmet synchronously right af

[2018-10-02 21:45] KidkArolis opened #783 "CSS hot reloading does not work in v6"
### Are you reporting a bug?

Yes.

### Environment

1.  `react-static -v`: 6.0.0-beta.21
2.  `node -v`: v10.11.0
3.  `yarn --version or npm -v`: 1.10.1
4.  Operating system: macOS

### Steps to Reproduce the problem

1.  npm i -g react-static@6.0.0-beta.21
2.  react-static create
3.  choose basic
4. yarn start
5. modify app.css

### Expected Behavior

CSS should hot reload, but it doesn't

I've b

[2018-10-02 22:04] tannerlinsley commented on #783
Are you referring to css in js or css imports?

On Tue, Oct 2, 2018 at 3:45 PM Karolis Narkevicius <notifications@github.com>
wrote:

[2018-10-02 22:10] tannerlinsley commented on #731
For those who cannot make the meeting tomorrow, I will gladly do a second mini-meeting as long as we can find a time that works for a majority of you. Comment with your available times :)

[2018-10-02 23:03] bkniffler commented on #731
I can't participate unfortunately but I'd be super happy if you could record it and make it available somewhere!

[2018-10-03 02:35] sw-yx commented on #731
literally any other time this week would work, haha. you picked the one period i'm traveling. but i'll dial in tmr

[2018-10-03 02:45] ScriptedAlchemy commented on #731
For those who miss it, I also don’t mind getting on a call and doing a recap :)

[2018-10-03 07:03] Pixelatex commented on #731
I would love to dial in but I have a meeting that evening :/ another day would work nicely for me though!

[2018-10-03 07:27] KidkArolis commented on #783
It used to work in 5, but doesn't work in 6.
I can see webpack's hot.json activity in the network panel after making changes, but nothing updates in the page.

[2018-10-03 08:37] jlramosr commented on #774
Exactly! I forgot to mention I had to uninstall version 5.9.8 at first and then install version 5.9.9 as @Burnett2k says.

[2018-10-03 13:56] tannerlinsley commented on #731
Meeting starts in 2 hours!

[2018-10-03 13:57] tannerlinsley commented on #783
I'll take a look at this today. Thanks for your info.

On Wed, Oct 3, 2018 at 1:27 AM Karolis Narkevicius <notifications@github.com>
wrote:

[2018-10-03 15:34] tannerlinsley commented on #731
https://hangouts.google.com/hangouts/_/iqoe3qoxdnenjiwn3qxbperzn4e

[2018-10-03 17:09] ajschmidt8 commented on #731
@tannerlinsley, i missed this! please let me know if you will be doing another. maybe during the upcoming 3 day weekend?

[2018-10-03 17:22] tannerlinsley opened #784 "Release Automation"
### Are you reporting a bug?

### Is this a feature request?

### Environment

1.  `react-static -v`:
2.  `node -v`:
3.  `yarn --version or npm -v`:
4.  Operating system:
5.  Browser and version (if relevant):

### Steps to Reproduce the problem

**Base your steps off of any freshly installed react-static template!**

1.  ...
2.  ...
3.  ...

### Expected Behavior

### Reproducible Demo

[2018-10-03 17:26] ScriptedAlchemy opened #785 "PR descriptions and notes"
To discuss formats of PRs, release notes, and other things related to the code collaboration conventions of this project and repo

Commitizen enforcement?

[2018-10-03 17:26] Pixelatex opened #786 "Setup PR guidelines, triaging, labels.."
We need guidelines for this.

[Discussion start]

[2018-10-03 17:34] Pixelatex opened #787 "Build routes from directory"
Possible suggestions:

- Blacklist/whitelist? files
- Support sub routes
- Support route naming(url/slug) without the need to define them in the config file.

[2018-10-03 17:57] tannerlinsley commented on #731
# Agenda

- Motivation & Goals
- Library Overview
- Code & Architecture
- Todos
    - Collaboration on Github and NPM
        - PR descriptions, labels, triaging issues
        - Contributor Doc / Guidelines
    - Release Automation
        - Travis - Run Tests
        - Push the release to the proper branch (branch + PR description / notes)
            - Master
            - Release
            -

[2018-10-03 18:00] farskid commented on #731
@tannerlinsley I'm willing to help and be a maintainer 👍

[2018-10-03 18:02] Pixelatex commented on #731
:hand: Willing and ready to help!

[2018-10-03 18:10] tannerlinsley commented on #731
Did ya miss our contributor onboarding call? Watch the call whenever you have time!

https://www.youtube.com/watch?v=z8dtYF7CMMY

We discuss in length the ins and outs of ReactStatic and how you can help contribute to its future right now! #react #oss #Hacktoberfest2018 #JAMstack #javascript

https://twitter.com/ReactStaticJS/status/1047548731665436672

[2018-10-03 18:38] AubreyHewes commented on #762
v6.0.0-beta.22 has the same problem

still digging ;-)

[2018-10-03 19:13] AubreyHewes commented on #762
Extra (missing) information; I did not originally state that the dev version works as expected when used in yarn workspaces...

i.e. ` cd client && yarn run start` (based on issue repo)

So I am now looking at the differences between the dev and prod webpack configs and also how the `node_modules/react-static/lib/static/index.js` works which is not used in dev

[2018-10-03 20:01] AubreyHewes commented on #762
So I seem to have found where it breaks.. still no idea why.

When rendering in yarn workspaces react-helmet `Component.rewind()` does not contain a `mappedState`  https://github.com/nfl/react-helmet/blob/b22e2f4075971f8b80568cd9911a2143f602add1/src/Helmet.js#L68 and so fallbacks to a default state.

[code]

Possibly an upstream issue with `react-dom/server` ?

Still digging; -)

[2018-10-03 20:02] tannerlinsley commented on #762
Wow, this rabbit hole is deep! Keep digging!

On Oct 3 2018, at 2:01 pm, Aubrey Hewes <notifications@github.com> wrote:

[2018-10-03 20:05] AubreyHewes commented on #762
:rabbit:

[2018-10-03 20:27] tannerlinsley commented on #787
As far as I have tested, 1st level pages work great and their routes are created successfully. I simply haven't tested sub-routes yet. I believe they should theoretically work, since it is a glob callback already here: https://github.com/nozzle/react-static/blob/v6/src/static/getRoutes.js#L144-L164

[2018-10-03 20:32] tannerlinsley commented on #785
I like the idea of Commitizen :) https://github.com/commitizen/cz-cli

[2018-10-03 20:33] tannerlinsley commented on #786
Going to track this in #785

[2018-10-03 20:34] AubreyHewes commented on #762
debugging this is a :hankey: :cloud_with_lightning_and_rain:

[2018-10-03 20:34] tannerlinsley commented on #784
I know that almost all of @kentcdodds's libraries implement semantic-release. We could probably learn from him how to set this up correctly.

[2018-10-03 20:39] tannerlinsley commented on #731
I've added everyone who attended the meeting as a collaborator on the project up this point! Thanks guys!

[2018-10-03 20:40] #786 closed

[2018-10-03 20:42] ScriptedAlchemy commented on #785
Awesome, ill start working on a branch. Might be a great time to build a react static custom template for asking questions and such

[2018-10-03 20:42] ScriptedAlchemy commented on #731
Thanks Tanner!

[2018-10-03 20:43] tannerlinsley commented on #731
Also, I've created a Project here: https://github.com/nozzle/react-static/projects/2 to help us all coordinate on the library. If you are a contributor you should be able to add, edit and link cards there!

[2018-10-03 20:44] farskid commented on #731
@tannerlinsley Thanks for the invitation. Let's get to work :)

[2018-10-03 21:11] krvajal commented on #731
@tannerlinsley I wasn't added. Can you add me, please?

[2018-10-03 21:13] max-allen commented on #731
@tannerlinsley Me as well!

[2018-10-03 21:15] tannerlinsley commented on #731
@max-allen Added 😄

[2018-10-03 21:15] tannerlinsley commented on #731
@krvajal Added 🎉

[2018-10-03 22:22] dshimkoski opened #788 "Use react-helmet-async"
It might be worth reintroducing async rendering (previously removed due to #117) now that [react-helmet-async](https://github.com/staylor/react-helmet-async) is a thing.

[2018-10-04 00:08] Pixelatex commented on #666
Been thinking about a breadcrumb plugin that hooks into the routes we build. Not sure if this qualifies as a plugin or more of an extended feature of the routing. Any thoughts on this?

[2018-10-04 02:50] izilla opened #789 "Cannot Create"
Fresh install of `yarn` and `react-static`

## Environment

[code]

## Steps to Reproduce

[code]

Am I missing anything necessary in `yarn` for this to work?

[2018-10-04 03:07] izilla commented on #784
Environment point 1 should be `react-static -V` not `react-static -v`

[2018-10-04 06:47] Pixelatex commented on #789
@izilla I can't reproduce this one. Are there other global packages that do work for you?

[2018-10-04 07:03] Pixelatex commented on #789
Could be related to yarn itself. Try installing it with npm or check this post:

https://github.com/yarnpkg/yarn/issues/648

Seems like this has plagued yarn users since 2016 0.o

[2018-10-04 08:12] Dragomir-Ivanov commented on #666
@Pixelatex In any case, please consider that one might **reload** the browser on a specific route, then you will loose any history information contained within the React application ( but the browser will still remember what was the previous route ). What I was thinking about this is to persists previous route in a URL query parameter. If you still are ready to loose the history in browser reload

[2018-10-04 08:14] Pixelatex commented on #666
@Dragomir-Ivanov We could write the breadcrumbs within the static json data we are rendering for each route. Since there is no need for this to be recalculated for every user.

[2018-10-04 10:03] DanWebb commented on #666
@Pixelatex I think it's a good idea, it would make the client plugins more powerful if they could inject props in like how react routers [history](https://github.com/ReactTraining/react-router/blob/master/packages/react-router/docs/api/history.md) prop is passed in to page components now.

You could argue it'd be a good feature to add direct to React Static (I guess that's what you mean by "extend

[2018-10-04 10:07] Pixelatex commented on #666
@DanWebb I think stuff like this will be lightweight enough to not need to be a separate plugin if we provide them with the option to enable this so we don't render unneeded code.

Hmm.. when do we draw the line between what should be a feature and what shouldn't...

[2018-10-04 10:40] DanWebb commented on #666
Isn't providing the option to enable exactly what a plugin is really though?

This is just my opinion but my current thinking is that the line get's drawn based on how essential the feature is. In this example, breadcrumbs aren't used or needed in many sites (including the 4 I've built in react static already) and really it's a nice to have rather than core functionality. In this case, it might be

[2018-10-04 10:58] Pixelatex commented on #666
Not really. A plugin as I see it is something you download as a separate dependency while the feature I was describing is a part of the core package.

[2018-10-04 12:15] DanWebb commented on #666
OK, but whether it's called a plugin, built-in plugin, setting, etc. It's an optional feature that can be enabled, right?

Would you agree whether it's built-in or not it should follow the same API so all the optional features can be enabled one way? If so, I think it makes sense all plugins originally start as standalone then maintainers can easily make the decision to get them moved into the cor

[2018-10-04 12:17] Pixelatex commented on #666
I do agree that making everything as standalone will make things easier to refactor/remove them. We can just bundle in certain plugins as standard then.

[2018-10-04 13:59] tannerlinsley commented on #666
Yeah, I would say unless something that should be shipped in the code all the time, or is highly highly integrated with the core (plugin API's do not suffice), it should try and be a plugin. It's also not likely that we ship any plugins with the core install, even if they are soon merged into the same monorepo (like gatsby with lerna)

[2018-10-04 14:04] tannerlinsley opened #790 "Fix or provide fallback for back/unknown navigation mechanisms to work."
**Describe the bug**
Navigation that is outside of React-Static's scope results in an error and breaks the app.

**To Reproduce**
Either:
- Refresh the page during a session and attempt to navigate backwards.
- You use a non-React-Static `Link` component to navigate (`<a />`, `window.location`).

**Expected behavior**
Using non-react-static navigation should still work, even if it is not instant o

[2018-10-04 14:08] tannerlinsley commented on #790
I think the way forward with this would be some type of fallback action that react-static can perform when it encounters a bad error (like not having data when it should). In that case, it should

- Show a loader
- Attempt to request the data again
- Render the content

This would mostly be meant to handle worst case scenarios, like when a user refreshes the page (and loses their session data cach

[2018-10-04 14:10] tannerlinsley commented on #790
Others have mentioned some type of breadcrumb plugin to keep track of history and what not. While that might be useful for other use-cases, this is one that needs to be in the core. I also don't think it should be solved by storing or caching session data in some semi-persistent storage either. That would introduce a whole new level of management to data new-ness and expiration that I don't think

[2018-10-04 14:10] tannerlinsley commented on #666
As for the problem above, I think we should track it in #790

[2018-10-04 14:55] loganfromlogan opened #791 "[v6] ESM imports from node_modules are not being processed correctly"
**Describe the bug**
Just upgraded from beta 22 to beta 24. Ran `react-static start`, load the site and get the error
[code]

**Expected behavior**
That emotion's default export will work within ReactStatic

**Screenshots**
![image](https://user-images.githubusercontent.com/5152553/46482585-1dedd780-c7b3-11e8-9ec6-44a6430e4f00.png)

**Desktop (please complete the following information):**
 - OS: m

[2018-10-04 16:42] tannerlinsley commented on #791
This could have been caused by #775. @digitalkaoz, looks like we need to refine that concept a bit more?

[2018-10-04 21:50] tannerlinsley commented on #666
FYI, I just added support for browser plugins: https://github.com/nozzle/react-static/commit/b1c2bebb491c347f7eb44db7687a51ca6a51521d

[2018-10-04 23:51] sw-yx commented on #731
should this be a weekly meeting? im currently trying to formally get some time from work to do this, and i know not everyone can commit to this same level of commitment. but i dont know how else oss groups are run.

[2018-10-04 23:54] tannerlinsley commented on #731
I would gladly do one off meetings whenever needed. We can always record them for posterity too.

[2018-10-04 23:55] sw-yx opened #792 "[Plugins] react-static-plugin-gatsby-compat"
deleting as id like to work on other things, please open another issue if you wish

[2018-10-05 01:15] sw-yx commented on #666
cleaned up some administrative comments which werent adding to discussion.

regarding plugin making, i'm new to all this. are plugins documented somewhere? how do i start?

[2018-10-05 01:42] tannerlinsley commented on #666
The humble beginnings of the plugin documentation live here: https://github.com/nozzle/react-static/blob/v6/docs/plugins.md

There are no docs yet on implementing new hooks in the codebase, but at least for node hooks, you can easily replicate an existing hook. Browser hooks will be almost the same, but none are implemented yet. A description of how they could be implemented is here: b1c2beb

[2018-10-05 06:30] Pixelatex commented on #731
We could plan a meeting around a single subject, like the plugins for example.

[2018-10-05 06:40] digitalkaoz commented on #791
@tannerlinsley mh the babel stuff is probably identical to CRA, so what might be wrong here?

[2018-10-05 06:43] digitalkaoz opened #793 "[v6] - Routing - webpack alias doesnt seem to work when building the HTML"
building the assets with webpack works fine, but when the build process tries to build the HTML pages i get the following error:

[code]
i was unable to find the correct spot of this bug, the development server works fine...

[2018-10-05 09:38] KidkArolis commented on #783
Cross posted here: https://github.com/faceyspacey/extract-css-chunks-webpack-plugin/issues/110

[2018-10-05 10:01] KidkArolis commented on #783
Everything's too complicated :( there are too many plugins for plugins for plugins for webpack, all hacks :(

I'm opening a PR that uses style-loader in dev, but couldn't properly test in my project, since I'm struggling to run react-static in linked mode, seeing issues like:

<img width="401" alt="image" src="https://user-images.githubusercontent.com/324440/46529317-fc155300-c88d-11e8-96b0-a85a0e

[2018-10-05 10:52] farskid commented on #792
@sw-yx Should it be replicating a similar interface or providing a codemod?

[2018-10-05 16:56] sw-yx commented on #792
decided not to take lead on this, am closing and removing the suggestion for now.

[2018-10-05 16:57] Pixelatex commented on #792
Maybe keep the suggestion alive if someone else wants to pick it up?

[2018-10-05 17:02] #792 closed

[2018-10-05 17:48] Pixelatex opened #796 "[Suggestion / feature] Allow gatsby plugins to run on static"
Why?
- Help gatsby developers make a transition to react-static
- Great plugins that already exist can be used by our public
- Extend the possible plugins list for RS to offer more choices

We should discuss how this should be handled, a plugin to import gatsby plugins? Native support for gatsby plugins by offering a similar api?

[2018-10-05 17:49] Pixelatex commented on #796
@farskid What are your thoughts on we should tackle this?

[2018-10-05 17:51] farskid commented on #796
@Pixelatex I can think of two different approaches here:

1. Replication Gatsby plugin interface. This is the easiest way in terms of DX but are we gonna have any conflicts regarding plugin permissions, available data, ...?

2. Providing a codemod with a fixed checklist of items for converting a Gatsby plugin into react-static.

[2018-10-05 17:52] tannerlinsley commented on #792
I say we get more plugins and the API fleshed out a bit more before we go heads down on this. Feel free to open a new issue, but let's not prioritize it too much unless it's a clear win for the community.

[2018-10-05 17:55] tannerlinsley commented on #796
I think it's valuable to note that the internals of each library are different enough that there will likely never be a 1:1 api for most plugins.

If I'm being honest, I don't think a compat plugin would be much better than simply looking at the gatsby plugins and just converting them to our own versions. Thoughts?

[2018-10-05 17:58] farskid commented on #796
If it's as different as not being able to automate, I'd say converting and listing somewhere is way easier.

[2018-10-05 17:58] Pixelatex commented on #796
Hmm... I am indeed starting to wonder if the time spent on this will be worth it. Considering we could instead develop our own plugins instead... We could fork interesting plugins and rewire them for RS. (if this will not be an issue to the original creators)

[2018-10-05 18:18] tannerlinsley commented on #796
Regardless, it would be beneficial to build a list of gatsby plugins that would be easy wins for react-static right now. Given that their list is fairly mature and fleshed out, we could use it to ensure that our API is covering all if not most of the bases it should.

[2018-10-05 18:27] tannerlinsley commented on #796
Sound good. Here it is.  As for including them in this repo, that would require something like lerna... That would be a big development change, but maybe it would be good?

[2018-10-05 18:29] Pixelatex commented on #796
Could also split our examples then using lerna? Or what that be taking it 2 far you think?

[2018-10-05 18:32] tannerlinsley commented on #796
Possibly. We ship the examples with the repo right now as templates... not sure how that would work with lerna

[2018-10-05 18:34] Pixelatex commented on #796
If we could have it install the examples when you need them, then we could also use the same logic to make some sort of 'react-static plugin list' that allows you to quickly install official plugins to your repo?

[2018-10-05 18:34] tannerlinsley commented on #796
Hmm yeah. That would make installation faster (less to download). I think Lerna would be a good idea. Want to make a separate issue for that?

[2018-10-05 18:35] Pixelatex commented on #796
Yup, on it

[2018-10-05 18:39] Pixelatex opened #797 "[feature] Implement Lerna to split plugins/examples"
The idea:

We could include our plugins in this repository and turn it into a mono repository.
If we do this, we could also remove the examples from the core package and add them as their own packages, reducing the size. To accomplish this we could use https://github.com/lerna/lerna

We could pull these packages separately only when needed during the 'create' process and for plugins add some sort

[2018-10-05 18:39] Pixelatex commented on #797
Ticket opened after discussing this subject in issue #796.

[2018-10-05 18:41] tannerlinsley commented on #797
This would also mean we should move back to using NPM instead of Yarn. Thoughts?

[2018-10-05 18:42] tannerlinsley commented on #783
@ScriptedAlchemy Thoughts on this?

[2018-10-05 18:52] Pixelatex commented on #797
I'm actually in favor of using npm, not really seeing much benefit to using yarn atm.

[2018-10-05 18:56] Pixelatex commented on #797
A quick google shows that it's possible to run lerna with yarn albeit not being the most simple way to do it, it seems...

Source: https://medium.com/trabe/monorepo-setup-with-lerna-and-yarn-workspaces-5d747d7c0e91

[2018-10-05 19:28] Pixelatex commented on #793
Is it on the v6 branch? Or the 5.x.x?

[2018-10-05 19:32] tannerlinsley commented on #666
I think the next step (and probably group call) should focus on how we can plugin-ize as much of the react-static core as possible. Similar to gatsby, we should try and dogfood our own API as much as possible internally. This means we first need to swith to Lerna #797, move all of our plugins to monorepo packages, then really dig deep and discuss the internal points of react-static that we can tur

[2018-10-05 19:33] dontmakemethink commented on #793
In my case it's v6.

[2018-10-05 19:36] tannerlinsley commented on #793
This is happening for me too. Again, not sure why just yet.

[2018-10-05 19:36] izilla commented on #789
Yeah looks like on my work computer yarn v1.9.4 was installed I updated to v1.10.1 and I can repro the behavior I will try installing v1.9.4 on my local machine to see if that will work

[2018-10-05 19:43] tannerlinsley commented on #793
This could be because webpack `alias's` are not being taken into account in the node environment while using the `static.____.js` bundle.

[2018-10-05 19:59] tannerlinsley commented on #793
I think I found the issue with `nodeExternals` not bundling react-static, thus it is not being aliased. I also might have uncovered a small optimization to be made for exporting speed :)

[2018-10-05 20:00] izilla commented on #789
OK so I worked around the issue with NPM. Could not find an easy way through `brew` to downgrade yarn since I did not have it installed. So I removed it `brew remove yarn` and installed it with npm `npm install yarn@1.9.4`. I can now run `react-static create` without issues.

[2018-10-05 20:00] tannerlinsley commented on #789
Huzzah!

[2018-10-05 20:01] #789 closed

[2018-10-05 20:16] Pixelatex commented on #789
@tannerlinsley another reason to move to npm? :p

[2018-10-05 20:19] tannerlinsley commented on #789
Maybe... maybe it's a sign from above haha 😇

[2018-10-05 20:20] tannerlinsley commented on #793
I just pushed a @6.0.0-beta.25 which should (hopefully) fix the issues

[2018-10-05 20:30] tannerlinsley commented on #793
Reopen if needed!

[2018-10-05 20:30] tannerlinsley commented on #793
cd21cb05563cc20a17a1f11ae8692516778af4ab

[2018-10-05 23:44] digitalkaoz commented on #793
@tannerlinsley sadly not, the issue remains the same

[2018-10-06 00:11] ScriptedAlchemy commented on #783
Okay, ill check out what the config is like in react static. Ive added a switch for hmr, and for css modules. In that case, we might need to expose an additional option to the user if we cannot infer it from some other flag.

What i hope, is that if i just recursively run `yarn upgrade extract-css-chunks` it will just work :)

Ill update as im investigating

[2018-10-06 03:08] tannerlinsley commented on #793
Double check please. All three projects that were experiencing that problem are now building

[2018-10-06 08:29] dontmakemethink commented on #793
Unfortunately, it doesn't work.

1. I've changed the version to `"react-static": "6.0.0-beta.25"`, updated node modules and it wasn't working.

2. I upgraded react-static (globally) and created a new project with `basic` template.

Still the same.

[2018-10-07 11:15] digitalkaoz commented on #791
@loganfromlogan can you show me a piece of the source code how you integrate emotion?

[2018-10-07 16:18] tannerlinsley commented on #791
There is an emotion example in the v6 branch you can look at

On Sun, Oct 7, 2018 at 5:15 AM Robert Schönthal <notifications@github.com>
wrote:

[2018-10-07 17:52] Pixelatex commented on #618
Not stale

[2018-10-07 19:58] farskid commented on #784
might be worth it to take a look at https://bumped.github.io/ as well.

[2018-10-07 22:17] johot commented on #767
I'm also seeing this, have no idea how to fix it myself :( Hope to get a fix up soon, this library looks sooo great! (Moving from gatsby to this)

[2018-10-07 22:47] johot commented on #767
Follow up:

I actually managed to do a temporary fix, i replaced `defaultLoaders.cssLoader` in `static.config.js` with:
[code]

But it feels like `defaultLoaders.cssLoader` should handle this right?

[2018-10-08 03:56] shivanandwp commented on #772
This certainly needs some verification. I wouldn't have gone through the pain of all this testing if it worked on wither of my Win 10, Mac High Sierra, Ubuntu WSL or Arch OSes.

[2018-10-08 08:08] ostrebler opened #800 "Manage nested routes as children in sub-components ?"
Hey,

I just got started with react-static and it's awesome.

So I'm building a multi-language blog and I have some issues when it comes to nested routing. I don't actually know if that's a help or a feature request. Here is what I wanna do on the static.config.js side :

[code]

So this generates routes like :
[code]

I'm stuck with the react part. Is it possible to manage a generic layout in my

[2018-10-08 14:00] Pixelatex opened #802 "App.yaml config for Google App Engine."
**Describe the bug**
When deploying the site to an app engine, the yaml file doesn't seem to function as intended. You need to do /path/index.html for it to work.

!The internal router does work but refreshing or direct to url navigation will break it!

**To Reproduce**
Deploy a site on a google app engine and see what the routing does.

**Expected behavior**
The routes should work as normal.

**P

[2018-10-08 14:14] dontmakemethink opened #803 "Hot reloading doesn't work in a fresh stable install"
**Describe the bug**
Hot reloading doesn't work in container components.

The version of `react-static` is `^5.9.12`.

**To Reproduce**
1. Create a new project using `react-static create` command with a `basic` template.
2. Start the dev server with `yarn start`
3. Change some text in a container component such as `About.js` - the changes are not reflected in the browser

**Desktop (please complet

[2018-10-08 14:20] Pixelatex commented on #803
This has been fixed in https://github.com/nozzle/react-static/pull/748 but I don't think it has been included in the latest release yet. (fix was 4 days ago, release 6 days)

Adding plugins": ["react-hot-loader/babel"] to your babel.rc should fix your issue.

p.s. @tannerlinsley maybe do a new release with this included?

[2018-10-08 14:40] dontmakemethink commented on #803
Indeed, it fixed the issue! I really appreciate your help :)

I think it'd be nice to have it "out of the box" 😅

[2018-10-08 14:44] Pixelatex commented on #803
@dontmakemethink next release should have it :)

[2018-10-08 16:17] tannerlinsley commented on #797
I'm backpedalling on the NPM switch. Because I've got a working lerna branch with Yarn :)

[2018-10-08 16:18] tannerlinsley commented on #797
Also, if we use yarn workspaces with lerna, we can have even more dependency sharing and quicker install times!

[2018-10-08 16:58] tannerlinsley commented on #797
Also, this gives us a fairly easy way forward, since we can basically copy whatever gatsby has done for package infra. They are also using lerna and yarn workspaces.

[2018-10-08 18:22] ScriptedAlchemy commented on #783
After initial investigations, it looks like there is some kind of miss-configuration which causes the HMR capability to get ignored. I have some extreme options for users who have issues with HMR, one being to just reload any and all css in the system.

The issue here is that my hot loading is not triggered at all, as if the HMR loader is never registered.

Still investigating the cause

[2018-10-08 18:37] tannerlinsley commented on #731
To better help all of us work together more closely, I've created a private slack organization where we can have private chats, ping each other more quickly, and have more fast-paced creative conversations.

Please send an email to tannerlinsley[at]gmail.com from the email you'd like me to send an invite to.

[2018-10-08 18:53] tannerlinsley commented on #797
The v6 branch is now a lerna repo :)

[2018-10-08 18:53] #797 closed

[2018-10-08 18:55] tannerlinsley commented on #666
Okay, the v6 branch is now a monorepo managed by lerna. I've moved all of the plugins built so far into the packages directory, too (along with a "Moved" notice on the old repo locations)

I haven't tested releases yet in lerna, but it's currently set to an "independent" mode (so all of the packages can have different versions) for now.

So for new plugins, just add a new directory in `/packages`

[2018-10-08 18:58] tannerlinsley commented on #802
Even outside of React-Static I have had issues with GAE and static sites. To me, this issue sounds like a GAE config routing issue. I can't remember how to do it, but you need to make the `dist/index.html` file the default file for html5 mode.

Does this help? Seems like I would start here: https://cloud.google.com/appengine/docs/standard/php/getting-started/hosting-a-static-website

[2018-10-08 19:00] tannerlinsley commented on #800
Even in a non-route file like App.js or Nav.js, you can use `RouteData` to get at the `language` prop. Doing that allows you to do internationalization at the component level (as long as every route in your app is guaranteed to have a `language` prop sent to it in the route data.

Does that help?

[2018-10-08 19:01] tannerlinsley commented on #800
Also, for the sake of triaging, I would suggest closing this issue (I would classify it as an implementation question that has been solved by others already) and searching/reasking it on the support forum: spectrum.chat/react-static

[2018-10-08 22:08] Pixelatex commented on #802
The strange thing is:

[code]

This will work, css files and such are served... however, it refuses to server the index.html files inside a folder on refresh or direct navigation via url

[2018-10-08 22:10] Pixelatex commented on #797
You go girl!

[2018-10-08 22:36] tannerlinsley commented on #802
Does this not work?

[code]

Honestly, I think this is what drove us to use S3 + cloudfront (where we ran into similar issues), then finally Netlify (where we have been overjoyed since).

[2018-10-08 22:39] Pixelatex commented on #802
Nah, that breaks it completely. There is not dist folder as the app.yaml is inside the dist folder...

Really annoyed that I can't get this working... :/ what a mess.

[2018-10-08 22:43] tannerlinsley commented on #802
Hmmm. It could have something to do with trailing/non-trailing slashes...

[2018-10-08 22:50] Pixelatex commented on #802
I can get everything working but the subfolder completely screws it somehow.. :/

[2018-10-08 22:53] Pixelatex commented on #802
[code]

This seems to work now! holy damn... what a mess.

It seems you need to do a /*url* that will redirect to *url*/index.html.
And all static files need their own yaml handler to prevent them from interfering. I'll test this a bit more and maybe add it to the docs?

[2018-10-08 23:02] Pixelatex commented on #803
Closing this issue as the bug has been fixed for you + permanent fix is on it's way.

[2018-10-08 23:02] #803 closed

[2018-10-08 23:15] tannerlinsley commented on #802
Yeah that sounds great!

On Mon, Oct 8, 2018 at 4:54 PM Pixelatex <notifications@github.com> wrote:

[2018-10-08 23:16] tannerlinsley commented on #802
We might need a whole new doc section on deployment

On Mon, Oct 8, 2018 at 5:15 PM Tanner Linsley <tannerlinsley@gmail.com>
wrote:

[2018-10-09 00:59] ostrebler commented on #800
That may help, thank you ! I'll close.

[2018-10-09 00:59] #800 closed

[2018-10-09 01:58] Burnett2k opened #806 "Material UI Theme using deprecated Typography attributes"
**Describe the bug**
The Material UI template is using deprecated Typography and should be upgraded to the newest version.

**To Reproduce**
Steps to reproduce the behavior:
1. npm install @material-ui/core
2. run the project using yarn or npm
3. the following console error occurs:
[code]

**Expected behavior**
Use the latest stable version and remove deprecated usage of Typography to avoid confus

[2018-10-09 06:28] krvajal commented on #806
I will try to do it

[2018-10-09 06:29] tannerlinsley commented on #806
Awesome!

On Tue, Oct 9, 2018 at 12:28 AM Miguel Carvajal <notifications@github.com>
wrote:

[2018-10-09 12:57] Burnett2k commented on #806
I don't mind putting in a PR for it either. I'm currently looking for some projects to help with for hacktoberfest

[2018-10-09 13:04] f2net opened #807 "CLI Error: react-static-create(1) does not exist"
**Describe the bug**
The CLI command

`react-static create`

shows an error.

**To Reproduce**
I just installed react-static globally using

`yarn global add react-static` (latest version of yarn 1.10.1)

If I launch

`react-static create`

I receive the error
`error: react-static-create(1) does not exist, try --help`

The help command is the only which works.

I'm using Node 10.9.0 on a Mac with

[2018-10-09 13:38] f2net commented on #807
If I uninstall the global package with yarn and reinstall it with npm it's worst, because I see the package installed doing a

`npm ls -g --depth 0`

but if I run

`react-static`

it doesn't find the command.

[2018-10-09 13:44] f2net commented on #807
I tried cleaning the yarn cache and reinstalling, but I receive the same error as before:

`error: react-static-create(1) does not exist, try --help`

[2018-10-09 13:54] Pixelatex commented on #807
This sounds a lot like:

https://github.com/nozzle/react-static/issues/789

[2018-10-09 14:17] f2net commented on #807
Yes, thank you for pointing me.
Unfortunately for me npm (tried with 6.2.0 and 6.4.1) gives a worst result than yarn:

`-bash: /usr/local/bin/react-static: No such file or directory`

[2018-10-09 14:20] f2net commented on #807
Ok, I confirm that it is a problem with yarn 10.x and also npm...
I uninstalled the react-static from npm, downgraded yarn to 1.9.4, installed from yarn and now it executes.

[2018-10-09 14:28] Pixelatex commented on #807
I'll see if I can replicate the issue so we can know if it is caused by yarn/npm or some weird issue in our setup.

[2018-10-09 18:19] tannerlinsley commented on #666
Plugins just underwent an overhaul both internally and externally. You can check out the new docs here: https://github.com/nozzle/react-static/blob/v6/docs/plugins.md

Basically, there's now separate `node.api.js` and `browser.api.js` files, used for the different execution/import contexts.  The browser api still has no methods. There are a few more methods as well that I've added that also need t

[2018-10-09 18:20] tannerlinsley commented on #666
You can also simply place either of those files in your project root and access the api at the project level. This is now going to be the de facto way of modifying the webpack config, too. (basically we just moved the webpack hook out of the static.config.js into the node.api.js file)

[2018-10-09 22:34] Pixelatex commented on #807
Am unable to reconfirm this bug with npm or yarn so far... I'll try on my work computer tomorrow but I'm afraid it seems to env-specific.

[2018-10-10 04:13] enscripter commented on #807
I had the issue but seemed to be related to where bin was pointing with `yarn global bin` and `npm` being in different areas I was also using `nvm` to make matters even more confusing running `where react-static` and `where npm` helped me figure out things were pointing in all different directions.

[2018-10-10 09:57] JustFly1984 commented on #731
Hey guys sorry, only now I had time to watch all 2 hours of first hangout meeting. So I have followup questions:

What about dynamic routes in context of Reach-router and other context of v6 ? I do have many pages which is allowed for authorized users only.

How did you test multithreading on netlify? They told me that they provide only single core for deploying.

[2018-10-10 13:00] tannerlinsley commented on #731
Dynamic routes will still work just fine in v6. If we do end up switching to Reach Router, I have no doubt it will be just as good, or possibly better at handling dynamic routes than react-router, but haven't gotten that far yet.

Multithreading doesn't come out of the box on netlify so they say, but I've seen even free plans running on a mulit-core. For testing, they gave me a standard enterprise

[2018-10-11 12:29] nashequilibro opened #809 "image-size module does not work"
When importing the image-size module in a container the error "Module not found: Can't resolve 'fs' in
..." is thrown.

Steps to reproduce the behavior:
1. Create a new react-static project.
2. npm install image-size
3. add `var sizeOf = require('image-size');` to home container.
4. See error "Module not found: Can't resolve 'fs' in ..."

I guess it is a webpack/image-size issue, but could not fin

[2018-10-11 12:31] Pixelatex commented on #809
Seems like it's missing the fs module... You'll need to include it in the file.

[2018-10-11 13:07] tannerlinsley commented on #809
You're probably seeing this because you are attempting to use a module that require's a node context to function. Any modules you using in your src or App must be both node and browser safe since it will eventually be exported via node, then subsequently bootstrapped in a browser environment later.

I would suggest you read this section of the docs: https://react-static.js.org/docs/concepts#writin

[2018-10-11 13:30] #807 closed

[2018-10-11 16:31] f2net commented on #807
Thank you, so I think it's a problem with my environment.
I keep yarn 1.9.4 until I have time to understand what is the problem with my env.

[2018-10-11 19:06] eps1lon commented on #806
What's the status on this one? I can put something together if this was abandoned.

[2018-10-11 19:07] krvajal commented on #806
I will update it soon. It is not abandoned

[2018-10-12 02:08] ScriptedAlchemy commented on #785
What do we want the prompts to be in?

Heres a few examples - its built on Inquirer.js (https://github.com/SBoudrias/Inquirer.js/) so we just need to follow its api

https://github.com/sparkbox/cz-sparkbox/blob/master/index.js
https://github.com/commitizen/cz-conventional-changelog/blob/master/engine.js

I have already installed commitizen and set it up - just need to start the discussion around w

[2018-10-12 02:53] ScottSmith95 commented on #793
This just popped up for me too, even after my site built several times.

[2018-10-12 13:07] DanWebb opened #810 "Styled Components Plugin FOUC"
**Describe the bug**
Since upgrading to use the styled-components plugin I'm experiencing Flash Of Unstyled Content in production

**To Reproduce**
Steps to reproduce the behavior use react v6 beta with the [styled-components plugin](https://github.com/nozzle/react-static/blob/v6/packages/react-static-plugin-styled-components)

**Expected behavior**
For the page to load without waiting for JS to l

[2018-10-12 15:56] tannerlinsley commented on #810
This was actually a problem with the rendering and extraction happening within different require contexts (bundled vs node). This will be fixed in the next beta.

[2018-10-12 15:57] #810 closed

[2018-10-12 16:01] tannerlinsley opened #811 "[Documentation] Show how to use various Routers with react-static"
Now that React-Static doesn't require a router, you can use whichever router you want to manage dynamic routes and links. We need examples showing how to use
- React Router
- Reach Router
- Rudy (Redux-First Router)

and we need to make sure those show how to
- render appropriately when in the Node context (for static export) by using `getCurrentRoutePath`
- properly use `process.env.REACT_STATIC_

[2018-10-12 16:05] tannerlinsley opened #812 "[v6] What should we do about RouterScroller"
The `RouterScroller` is responsible for the auto scrolling animations that you currently get when using hash links and also when navigating to new pages (it scrolls you to the top)

- How is the scroller going to work now?
- Do we still include this in the core?
- Does it depend on a Router too heavily?

[2018-10-12 16:06] tannerlinsley commented on #812
Currently it looks like this:

[code]

[2018-10-12 16:14] ScriptedAlchemy commented on #811
I like this idea!

[2018-10-12 16:16] ScriptedAlchemy commented on #811
RFR might be hard to create an example for via JSX, Seeing as we use routing objects and async thunks to power stuff before the render starts. But Reach, RR and Rudy could definitely benefit the users. Standardized routing practices can potentially reduce the amount of issues as well - from incorrect implementations

[2018-10-13 06:51] ostrebler commented on #628
It works with `withRouteData` HOC but still not with the RouteData component.

[2018-10-13 20:24] meel-io opened #814 "Typescript example doesn't include styled-components"
**Describe the bug**
According to README, Typescript example is supposed to include styled-components. I'll be happy to add it if agreed.

**Expected behavior**
[styled-components](https://github.com/styled-components/styled-components) package should be included at install and template components should use it if needed.

[2018-10-13 20:55] nikaspran commented on #601
@tannerlinsley @ScriptedAlchemy Please correct me if I'm wrong on all of this, but it's late and I've been looking at the internals of my node_modules for too long to maintain any sanity at this point. This is going to be a long one.

This issue should be reopened - issue still persists in both 5.x and 6.x branches. The PR that broke CSS modules is indeed https://github.com/nozzle/react-static/pul

[2018-10-13 21:54] tannerlinsley commented on #811
Turns out we need a router for the library to work. It's no longer a hot-path, but it is required. I am planning on shipping a custom router implementation, catered for static sites, powered by reach/router.

[2018-10-13 21:54] #811 closed

[2018-10-14 03:10] lottamus commented on #601
Let’s add it back. Outputting that file isn’t expensive and we could add a step to delete the file or leave it up to the end user to delete.

[2018-10-14 05:31] ScriptedAlchemy commented on #601
Also referring to the other comment, in an ideal situation - extract css chunks should usually be run, for client builds. On the server, I typically use the following configuration

https://github.com/faceyspacey/universal-demo/blob/master/webpack/server.dev.js

[2018-10-14 15:19] philipp-spiess opened #816 "Run Babel in node_modules"
**Describe the bug**

react-static can not minify the main entry-point because it pulls in a dependency that uses newer JavaScript features than UglifyJS can handle.

[code]

**To Reproduce**

Steps to reproduce the behavior:
1. Check out the repo at https://github.com/philipp-spiess/this-week-in-react/pull/10
2. Run `yarn && yarn build`
4. See error

The package that is causing issues, `performan

[2018-10-14 20:42] PeterKottas commented on #814
Typescript example is in fact totally broken (uses old getSiteProps and getRouteProps vs new getSitedData getRouteData functions) I assume when v6 lands, there should be some template cleanup to bring these up to date.

[2018-10-14 21:24] #814 closed, assigned to nobody

[2018-10-15 03:45] mjsisley commented on #739
With v6.0.0-beta.25

Console on first load from a nested route (blog/post/1):
https://www.dropbox.com/s/y74ntkibu040mil/Screenshot%202018-10-14%2020.43.18.png?dl=0

Screenshot of console after navigation to another route (index, blog, about):
https://www.dropbox.com/s/mjpvecfovds1woe/Screenshot%202018-10-14%2020.44.24.png?dl=0

[2018-10-15 10:34] PeterKottas opened #817 "Eject webpack config"
**Is your feature request related to a problem? Please describe.**
I am playing with react-static for the last day or 2. I have to modify the webpack config quite a lot (as I use typescript scss and some other stuff), which got me thinking. Wouldn't it make sense to add ability to eject webpack.config? Webpack config in react.static.config could then point to a file on disk. The thing is, I find i

[2018-10-15 11:45] digitalkaoz commented on #793
@tannerlinsley i wrapped my head around this and i think i know what the problem is.

during webpack compilation of everything the webpack alias works as expected but this is written into the `webpack bundle`:

[code]

so when trying to dump the static html pages we have no more knowledge about the alias from `react-static/routes` to `react-static-routes.js`

i really dont get it!

[2018-10-15 14:05] tannerlinsley commented on #793
Right. I think we can solve the problem by externalizing the require to
react static. That way webpack won't bundle it. I'll try it out in my local
branch and let you know

On Mon, Oct 15, 2018 at 5:45 AM Robert Schönthal <notifications@github.com>
wrote:

[2018-10-15 14:49] jelteliekens commented on #495
Updates?

[2018-10-15 16:13] PeterKottas commented on #767
Also bear in mind this would have to change to [MiniCssExtractPlugin](https://github.com/webpack-contrib/mini-css-extract-plugin) for v6 anyways. Depending on how far away that is, it might make sense to wait for that.

[2018-10-15 16:16] PeterKottas commented on #358
As of babel 7, it now compiles typescript no problem. Might it make sense to reopen this?

[2018-10-15 16:28] Pixelatex commented on #812
While implementing scrolling is something people can do themselves... I do see a benefit of offering it to people. But we were gonna get rid of the fixed router so it might make more sense to offer this up as a plugin and provide people with some sort of 'basic setup+ preferred plugins'?

[2018-10-15 16:29] Pixelatex commented on #809
Image-size is indeed a node module so the issue is fairly clear, it's gonna need a different module on your side. Closing this as it's not really an issue with RS.

[2018-10-15 16:29] #809 closed

[2018-10-15 16:32] Pixelatex commented on #817
We could make a more documented 'how-to-extend-webpack' or extend the api for it more but the option to eject doesn't seem like it's gonna be worth it to me tbh.

[2018-10-15 16:41] tannerlinsley commented on #812
I think it would be safe to include it as a default and offer a way to disable it. Most if not all routers these days do not handle hash scrolling (which is good), but most people want and need it.

[2018-10-15 16:42] Pixelatex commented on #812
Yes but then we'd need to make it react-router independent, no?

[2018-10-15 16:45] tannerlinsley commented on #817
Yeah, ejecting is not going to be an option. RS integrates with so many points of the config, which is why extension/modification is much better in this case. The minute you eject, you would cease to get updates and bug fixes to a very complex and streamlined webpack process.

I think the solution is to
- Better document the default webpack config/loaders/plugins,
- Educate on what parts of the we

[2018-10-15 16:47] Pixelatex commented on #817
Moving the use-cases to plugins is probably the most important approach here as it removes the need to tinker with webpack and makes the whole thing more user-friendly.

[2018-10-15 16:48] tannerlinsley commented on #812
Yep. I'm about to push a branch that accomplishes that :)

[2018-10-15 16:48] Pixelatex commented on #812
Sweet :)

[2018-10-15 16:49] tannerlinsley commented on #817
I agree. For example, this issue is mostly about typescript and scss. Both of which are plugins that we can isolate and perfect in their own right. Once we do that, the work is done and installable with ease :)

[2018-10-15 16:50] tannerlinsley commented on #358
Yeah. I'm not sure what it would take to support, but sounds viable. What would it take to make this happen?

[2018-10-15 17:37] Rantelo opened #818 "material-ui template is using react-jss, but not included in the package.json"
**Describe the bug**
when running `yarn start` after creating a site with `material-ui` template, it throws an error saying `Cannot find module 'react-jss/lib/jss`

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new project with `react-static create`
2. Select `material-ui` template
3. Run dev-server with `yarn start`
4. See error
[code]

**Expected behavior**
It should start dev-se

[2018-10-15 17:42] Herohtar commented on #818
This can be resolved with a simple `yarn add react-jss` or `npm i react-jss`. Material UI removed their `react-jss` dependency in version `3.2.0` so it no longer gets pulled in automatically.

[2018-10-15 17:50] Rantelo commented on #818
Great! It worked
Any reason to delete `react-jss` from the package.json?
If there is not, I can file a PR addition of the missing library

[2018-10-15 18:36] PeterKottas commented on #817
All above sounds good to me! The fear of breaking rs is making working with it rly uncomfortable at the moment. Looked at the early docs on plugins and I must say it sounds very promising. I have one pointer there though.
If I understand it correctly, right now you provide a plugin name, and it either looks in plugins folder in root, or for an installed npm package. Would it also make sense to all

[2018-10-15 18:40] PeterKottas commented on #358
It's quite simple, it just needs
[code]

You then need to run babel with --extensions .ts,.tsx

That should do it.

[2018-10-15 18:40] tannerlinsley commented on #817
You can achieve a similar implementation in v6 by doing
[code]

The reason for this is that plugins are not single files. They are a collection of `node.api.js` and `browser.api.js`.

[2018-10-15 18:41] tannerlinsley commented on #358
This would essentially be running typescript for everyone by default right? Is it possible to just add that to your own `.babelrc` and call it good?

[2018-10-15 18:42] tannerlinsley commented on #358
We do use `babelRegister` under the hood to do this though.

[2018-10-15 18:48] PeterKottas commented on #358
Yeah that's what I though. Just adding it for me would be simple enough. I am just afraid there are some internals that expect it to be js. For example, right now, if I just rename it to ts, it falls apart saying it can't find it. I know I could create build step that would first compile ts to js. But that's slightly barbaric. Especially when react-static config is not per say "build only". It tou

[2018-10-15 18:49] PeterKottas commented on #817
Ah I see. That makes perfect sense then. Thanks!

[2018-10-15 18:52] tannerlinsley commented on #358
Haha, well I'm flattered! I wish was a typescript guy, but sadly haven't invested the time to migrate my brain and projects yet. I'm well aware of the benefits, but haven't necessarily felt them first-hand yet. I suspect in the next year I will make the move, but for now, I need to be productive with the muscle memory I have... :(

I'm more than happy to merge any ideas that would make what you're

[2018-10-15 18:54] PeterKottas commented on #817
I assume I can close this now as after reading
- Better document the default webpack config/loaders/plugins,
- Educate on what parts of the webpack should not be modified (lest you break RS).
- Improve our examples on how to modify the webpack config.
- Move most of the webpack configuration use-cases to plugins.
It's clear you are aware of the "problem" and hopefully it will improve with v6.
Actu

[2018-10-15 18:56] tannerlinsley commented on #817
I would like to have v6 out in a month, which seems definitely doable with our changes and momentum. There's always the possibility of a terrible bug hunt or change of scope, but I don't foresee that happening.

[2018-10-15 18:58] PeterKottas commented on #358
Haha, okay that makes sense then! Just consider my voice another one of those that will hopefully one day lure you to the typescript camp. Awesome doesn't even begin to describe it. I spit out 50% more code this way and save another 50% while debugging as most of the time, I find bugs while still in editor.

Roger that, I'll be happy to contribute. Especially the d.ts definitely needs some love. I

[2018-10-15 18:59] tannerlinsley commented on #358
That sounds like a great plan. Can't wait to be converted ;)

[2018-10-15 18:59] PeterKottas commented on #817
Great that works perfect for me. I'll just prepare everything for the move and do the actual work when v6 lands. Thanks for the info!

[2018-10-15 19:06] PeterKottas commented on #358
It was very easy for me, came from c++ / c# so I was praying for ts even before it existed. Made the switch right away then. Ok as per our discussion on the second issue, I'll be happy to contribute once v6 lands. Things I can do is:
- Improve d.ts
- Fix and improve ts example (the one we have right now is not rly showing the full potential imho)
- Look into supporting config as ts file

[2018-10-15 19:08] tannerlinsley commented on #358
I agree, the current TS example is not very fleshed out. Would love to upgrade that and get the typescript plugin for v6 working.

[2018-10-15 20:49] likethemammal commented on #58
I'd love to see the suggested way to handle the `locales` directory, and maybe show integration with a translation API to handle multiple locales.

Would also like to see the code to integrate with SSR specifically. Gatsby has a great article walking through their setup: https://www.gatsbyjs.org/blog/2017-10-17-building-i18n-with-gatsby/

[2018-10-16 03:43] #817 closed

[2018-10-16 13:19] #818 closed

[2018-10-16 14:06] tannerlinsley commented on #731
FYI: https://twitter.com/tannerlinsley/status/1052198459460055040

@ 8:15 MST (in 30 minutes) I’ll be live-streaming how @ReactStaticJS’s browser-client works and how #react #suspense has already helped shape v6 into a better library.

Watch/chat here: https://t.co/XKwRRGvrgw

[2018-10-17 21:50] uturnr commented on #503
This is a message from the future... don't do it!!! 👻

[2018-10-18 01:11] tannerlinsley opened #822 "[v6] Preloader is a bit aggressive - non-local, protocol (tel/mailto), and others not getting cleaned out"
The preloader is currently attempting to fetch `routeInfo` for pages that are clearly not able to be react-static pages. These include non-local pages and non-http(s) protocols.

**To Reproduce**
Steps to reproduce the behavior:
- Place a link to https://google.com in a v6 site.
- Start the dev/build process and serve the site.
- Navigate to the page with the google link and watch the network tab.

[2018-10-18 05:17] maduraPradeep opened #823 "Getting "TypeError: Object(...) is not a function" in the console, in the build package"
**Describe the bug**
Getting "Uncaught TypeError: Object(...) is not a function" issue in the build package. Seems it is generating from preact library. This issue has in preact examples of both v5 and v6. This is only occurring in the build and stage packages.

**To Reproduce**
Steps to reproduce the behavior:
1. Create preact example with `npx react-static create`
2. Build the package `yarn buil

[2018-10-18 07:09] JohnBerlin opened #824 "Conditional className is not properly updated in production"
## **Thanks for all your work, react-static is awesome!**

**Describe the bug**
While trying to store some state in localStorage, I've identified an issue with a conditional className for a component. While the state of the component is correct, it doesn't seem to update the className property as expected.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone https://github.com/JohnBerlin/hy

[2018-10-18 22:14] jamesplease opened #825 "react-static build not bundling React for production properly"
:wave: hi react-static team!

**Describe the bug**

I would expect that running `react-static build` would build a production version of my app, based on the react-static [docs](https://github.com/nozzle/react-static#quick-start).

![image](https://user-images.githubusercontent.com/2322305/47187222-2af8e380-d2e8-11e8-8936-6bdf3ecd9338.png)

And, I believe that this had been working for me. However

[2018-10-18 22:22] jamesplease opened #826 "Lots of routeInfo.json requests on page load"
:wave: Hi there

**Describe the bug**

react-static loads a lot of routeInfo.json files when my app loads. This is unexpected, because it locks up the network tab for a noticeable time.

This is having a negative effect on application load times.

Separately, it's worrisome that the number of routeInfo.json's grows with each URL that I add to my app. Is it correct that an app with 2k pages would m

[2018-10-18 22:35] tannerlinsley commented on #826
Are you using react statics link component in v5? Are so of your links
visible in the viewport on load?

On Thu, Oct 18, 2018 at 4:22 PM James <notifications@github.com> wrote:

[2018-10-18 22:43] jamesplease commented on #826
I am, yeah:

[code]

The majority of them are visible. I'd say somewhere around 30% of them are hidden behind a "collapsible" element when the page loads, but 70% are visible onscreen.

[2018-10-18 22:46] tannerlinsley commented on #826
The way the link works in v5 is based on visibility and intersection with
the window. It could be false positively preloading links that aren't
actually visible.

On Thu, Oct 18, 2018 at 4:43 PM James <notifications@github.com> wrote:

[2018-10-18 22:53] jamesplease commented on #826
That sounds like a plausible explanation. Is it possible to disable preloading altogether? I just checked the docs, but nothing stood out to me as being a config for that behavior. Possibly `prefetchRate: 0`?

[2018-10-18 22:54] tannerlinsley commented on #826
Technically yes. Though it could have unintended consequences. I'm away
from my computer right now. But could easily dig in deeper later.

On Thu, Oct 18, 2018 at 4:53 PM James <notifications@github.com> wrote:

[2018-10-18 22:56] jamesplease commented on #826
No rush. I'll hold off on making that change for now. Should you have time to look into this more thoroughly, I'd appreciate it a lot!

Thanks for your help so far. And thanks also for all of the work you've put into react-static 🙂

[2018-10-18 22:57] tannerlinsley commented on #826
I appreciate it. I'll look into it soon.

On Thu, Oct 18, 2018 at 4:56 PM James <notifications@github.com> wrote:

[2018-10-19 02:18] mjsisley commented on #739
No errors occurring with production build in v6.0.0-beta.29. Great! Closing this issue.

[2018-10-19 02:18] #739 closed

[2018-10-19 03:00] tannerlinsley commented on #826
So I did some more digging. It looks like on first load, things are really good:
<img width="1219" alt="screen shot 2018-10-18 at 8 52 07 pm" src="https://user-images.githubusercontent.com/5580297/47195114-b50c7080-d317-11e8-9af9-97976778b654.png">
It's not firing off any unnecessary calls so far.

Then, when I open the sidebar, you'll see quite a few preloads fire off:
<img width="1221" alt="scre

[2018-10-19 03:02] tannerlinsley commented on #826
It's also worth noting that in v6 (coming out hopefully in about a month), the preloader will be much better, or at least, more customizable and pluggable.

[2018-10-19 04:24] #826 closed, assigned to nobody

[2018-10-19 13:43] Burnett2k commented on #806
@krvajal let me know if you need any help testing once you've finished up the code.

[2018-10-19 14:47] stefanprobst commented on #807
I have the exact same problem. I have `react-static` in `~/.yarn/bin/` which is a symlink to `~/.config/yarn/global/node_modules/.bin/react-static` which again is a symlink to `~/.config/yarn/global/node_modules/react-static/bin/react-static`.

`commander` tries to locate `react-static-create` in `~/.config/yarn/global/node_modules/.bin/`
So it seems to me that `commander` (in `executeSubCommand`)

[2018-10-20 15:46] 0x6431346e commented on #816
Same error here...

to reproduce:
1. `react-static create`
2. `yarn add is-ipfs`
3. add `import 'is-ipfs'` somewhere
4. `yarn build`

gives:

Unexpected token: name (encoded)

Stacktrace: https://github.com/multiformats/js-multihash/blob/master/src/index.js#L63

[2018-10-20 16:43] stefanprobst commented on #816
@philipp-spiess Are you sure this is an issue with `react-static`? I checked out the repo in the issue you linked to and there's something weird going on:
[code]
After manually removing `yarn.lock` and reinstalling, the build went through without problems.

[2018-10-21 09:34] philipp-spiess commented on #816
Oh wow 😱. I wonder how that is even possible. You're totally right this seems to be a yarn screw-up. Thanks for digging in!

I'll leave it to you to close this ticket or keep it for the comment of @0x6431346e.

[2018-10-21 09:42] 0x6431346e commented on #816
This is still a problem, one thing to note though, it errors only when building, using the package in development works.

Repo:
https://github.com/0x6431346e/build-error-repro/

I don't think this is a problem with the `multihashes` package, it looks fine, but I guess it could be...

[2018-10-21 10:09] stefanprobst commented on #816
Could you double-check? Building `multihashes` throws a `TypeError` for me.

[2018-10-21 10:56] koalalorenzo commented on #816
@stefanprobst what is the complete error?

[2018-10-21 15:18] tannerlinsley commented on #816
Node modules should always be compiled

On Sun, Oct 21, 2018 at 8:22 AM stefanprobst <notifications@github.com>
wrote:

[2018-10-21 18:12] stefanprobst commented on #816
Sorry for being unclear: the question is whose responsibility it is: the library's or the app that uses the library. Even though `create-react-app` v2 [apparently now compiles dependencies in `ǹode_modules`](https://github.com/facebook/create-react-app/pull/3776) I think it's still expected that `main` in package.json points to ES5 code.

[2018-10-21 18:34] tannerlinsley commented on #816
Yep. CRA is only compiling node modules for es6 import and interopability I
think. Same as us.

On Sun, Oct 21, 2018 at 12:12 PM stefanprobst <notifications@github.com>
wrote:

[2018-10-22 07:44] pomelo-nwu opened #827 "is there any internationalization solution here"
Hello, is there any internationalization solution here, such as `home.en-US.md `and `home.zh-CN.md` as data sources?

[2018-10-22 08:15] pomelo-nwu opened #828 "The custom `static.static.js` file path does not seem to be internally converted to an absolute path by react-static"
**Describe the bug**
[code]

and I found that in the[ source code ](https://github.com/nozzle/react-static/blob/master/src/static/getConfig.js#L248)it is the path to the module that directly request `./myCustomStatic.js`, not converted to an absolute path.

Here is my solution：change[config = getConfig(config, { watch: true })](https://github.com/nozzle/react-static/blob/master/src/commands/start.

[2018-10-22 11:42] sharat9211 commented on #744
I am also facing this issue. Can work on it but will need some help to get started

[2018-10-22 17:07] tannerlinsley commented on #744
I've figured out that this is a core issue with the prefetching
architecture in v5. Aside from rewriting v5, there won't be much we can do
other than move on to v6 where we have a new architecture that fixes this.

On Mon, Oct 22, 2018 at 5:42 AM Sharat Chandra <notifications@github.com>
wrote:

[2018-10-22 17:56] nashequilibro commented on #809
Yes that is the issue and thanks for guiding me to the right ressource. I am using the 'responsive-loader' package now instead of the default loader and it works fine, if anybody else has the need for image sizes while loading with webpack.

[2018-10-23 01:09] loganfromlogan opened #831 "Debugging when build fails painful."
I've had this happen several times

Whenever there is an error with my app during the build react-static build setup of either `react-static start` or `react-static build`, I usually just get a general React error about not exporting a function with no clues or details on where the error originated.

It's not always the *not exporting a function* React error, sometimes it's other errors, but lots

[2018-10-23 04:31] dicarlo2 opened #832 "[v6] 404.html is not generated"
**Describe the bug**
404 page is output to a subdirectory rather than in the root.

**To Reproduce**
Build anything - notice that it outputs a 404 page to 404/index.html

**Expected behavior**
Outputs to 404.html

**Screenshots**
n/a

**Desktop (please complete the following information):**
n/a

**Smartphone (please complete the following information):**
n/a

**Additional context**
Bug is here: ht

[2018-10-23 04:34] dicarlo2 commented on #822
FWIW - using `onMutation` heavily assumes that the website is relatively static. We use react-static to deploy our entire website, including pages that are extremely dynamic - to be specific, they mutate the dom on every key press.

AFAICT - another issue is that it adds all links on the page on //every// mutation, rather than just the newly added links.

[2018-10-23 14:42] tannerlinsley commented on #822
Yeah, I've tested the preloader with keyboard-level events like that on pages with hundreds of visible links and it seems to to really well, even with cpu throttling to simulate mobile devices. My guess is that it should work okay for now, and as we discover bottle necks we can make the watcher more performant.

One optimization we could do immediately, like you said, is to make the selector only

[2018-10-24 20:51] airtonix opened #836 "Empty instead of remove dist folder"
**Is your feature request related to a problem? Please describe.**

I use docker in local and production

[code]
Simple example, fully available here: https://github.com/airtonix/zenobi.us/tree/feature/react-static

this is my docker-compose:

[code]

I don't do my mounts like this because it's slow (before executing anything on startup the container has to copy node_modules back up from the previ

[2018-10-24 21:05] tannerlinsley commented on #836
Is this just as performant as removing the directory? I only ask because some of our test builds produces massive file structures :) eg. 500,000 routes

On Oct 24 2018, at 2:51 pm, Zenobius Jiricek <notifications@github.com> wrote:

[2018-10-24 21:35] airtonix commented on #836
I'm not overly concerned with how, but removing the directory breaks docker
development.

Perhaps it could be something the static.config could expose.

`onClean(){ fs.emptyDir('my-dist'); }`

On Thu, Oct 25, 2018, 7:36 AM Tanner Linsley <notifications@github.com>
wrote:

[2018-10-24 21:36] airtonix commented on #836
I guess my other option is to shuffle directory

[2018-10-24 21:39] tannerlinsley commented on #836
I'm okay with the change, as long as it's not a massively slow operation for those large sites we test. Could you test it with a large site build in there (500k routes preferably)?

On Oct 24 2018, at 3:36 pm, Zenobius Jiricek <notifications@github.com> wrote:

[2018-10-24 22:54] airtonix commented on #836
Sure thing, I'll try get on it tonight.

On Thu, Oct 25, 2018, 8:09 AM Tanner Linsley <notifications@github.com>
wrote:

[2018-10-25 13:18] JustFly1984 opened #838 "[v6 beta.29] bug with undefined environment variables."
I have issues with my bigger project. I’m usung graphql@14.0.2, and it has `.mjs` files.

I got this errors (many) in `npm start`:
[code]

I’ve added
[code]

to `oneOf` before `js` rules, so it continues to build dev successfully, but after I open browser, it shows that webpack does not parsed environment variables and all of them are undefined, so React crashes.

It does runs fine with 6.0.0-beta

[2018-10-25 16:19] trbrc opened #839 "Content never loads if prefetching fails"
It appears that `react-static` has buggy or non-existent recovery after failure when preloading resources.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a `react-static` site. For example, [react-static.js.org](https://react-static.js.org/). Let the page load.
2. Turn off your connection (turn off wifi or click "offline" in devtools > network)
3. Click "Documentation" or "Get Started!

[2018-10-27 06:10] andrewmartin commented on #616
I found a quick, hacky workaround is to add

[code]

To EACH component you want to hot reload. Really not ideal.

[2018-10-27 06:48] aakash-freightwalla opened #840 "build not failing upon any transpilation error"
Hey guys! Love your work. We currently use it in production at https://www.freightwalla.com/

**Is your feature request related to a problem? Please describe.**
* Currently our `react-static` version is at `5.9.7`.
* When trying to include `debug@4.1.0`, the build fails due to incompatible module mode. This has been fixed via https://github.com/nozzle/react-static/pull/775.
* Upgrading `react-stat

[2018-10-27 08:30] JohnBerlin commented on #824
Hey guys, any update on this? The issue is quite weird, could someone tell me if they're able to reproduce it?

[2018-10-28 11:25] wilkinsm89 opened #842 "Head import order"
Im using the Document feature in static.config.js to import a number of additional external stylesheets (bootstrap, google fonts etc.). How do I ensure these are imported prior to the internal stylesheets within Head element to prevent overriding any custom overrides?

[2018-10-28 12:07] #842 closed

[2018-10-29 12:03] mbbender commented on #342
This still seems to be a problem for me as well.

[2018-10-29 16:30] mbbender commented on #342
@tazaka Were you able to resolve this issue?

[2018-10-29 22:58] easherma commented on #308
@tannerlinsley FYI for others who stumble on this, getRouteProps is renamed to withRouteData, no?

[2018-10-30 05:07] andrewmartin opened #843 "Not successfully generating build, but working locally?"
First off, thanks for building this project; it's made developing a static site a breeze...

However, I'm running into a very bizarre and confusing issue, and am hoping someone can help. I have built and am running successfully locally.

Here's my `static.config.js`. From what I can tell, everything should be setup correctly, but I'm hitting a really weird issue where only the root path (`src/cont

[2018-10-30 05:08] andrewmartin commented on #843
I should mention that this is working perfectly swimmingly locally, no issues at all when I navigate to `/case-studies/roco` locally.

Is there something funky I'm doing when I'm generating the dynamic paths?

[2018-10-30 05:09] andrewmartin commented on #843
Also, finally, should mention that locally, if I serve the `./dist` directory, the pages work too. Wondering if this is something weird with my S3 deploy?

[2018-10-30 05:10] andrewmartin commented on #843
Whoops!

http://dynastyweb.s3-website-us-west-1.amazonaws.com/case-studies/roco/

This loads just fine. Sorry! Shouldn't have included the extension...

[2018-10-30 12:28] pomelo-nwu commented on #827
okay，thanks

[2018-10-31 10:47] digitalkaoz commented on #822
this hit me aswell...maybe a simple protocol/domain compare can fix this?

[2018-10-31 12:32] JustFly1984 opened #844 "[v6.beta.29] Double render of static and dynamic routes when navigating to dynamic route"
**Describe the bug**
When I navigate to dynamic route, I have both routes rendered - static and dynamic. In some cases it renders static route with only spinner, in other cases it renders static route which I was navigated from.

**To Reproduce**
Steps to reproduce the behavior:
1. Add Router component from @reach/router to any example,
2. add there couple dynamic routes,
3. add Links to this dyna

[2018-10-31 16:19] benedfit opened #846 "[v6] How would I refactor these non-static routes now that Switch isn't available?"
Given the following example, how would I refactor it in v6 now that React Static is router-less? I'm really struggling

[code]

[2018-10-31 16:52] tannerlinsley commented on #846
I'll be working on an example for this soon. Stay tuned :)

On Oct 31 2018, at 10:29 am, Ben Edwards <notifications@github.com> wrote:

[2018-10-31 19:20] bradysheridan commented on #693
Hey @ronanlevesque, did you ever find a solution?

[2018-11-01 01:14] javobal commented on #744
#835 Seems to work

[2018-11-01 13:44] Kosai106 commented on #693
@bradysheridan No, we never found a workaround - We switched to Gatsby instead.

[2018-11-01 16:28] DanWebb opened #848 "[v6-beta.29] Config CLI option is being ignored"
**Describe the bug**
Passing a path inside the --config option no longer works, for example `react-static start --config=config/static.config.js` will return the error "Cannot find module '/path/to/website/static.config.js'" because the default path is being used instead.

I did a little digging and found the `configPath` variable here https://github.com/nozzle/react-static/blob/v6/packages/react-

[2018-11-03 01:03] JustFly1984 commented on #787
not stale

[2018-11-05 15:51] trbrc commented on #839
I've patched the problem by using [`retry-axios`](https://www.npmjs.com/package/retry-axios), with a very high retry number, which should mean that axios will never fail to fetch in practice (instead it will just stall the request forever).

This is a workaround that happens to solve the issue, only because from the point of view of `react-static` the prefetch never fails, it just takes a very lon

[2018-11-05 22:43] AubreyHewes commented on #762
The baker said, "stale? have some nice fresh rogge!" Unfortunately, I have not had the time to dig into this any further. Our current solution is to CI with extra "nohoist".
I will get back in to this when I have the time. @tannerlinsley You can close this if you want as I can not say when I will have the time to continue this.

[2018-11-06 15:45] DanWebb commented on #848
This issue is still present in v6.0.0-beta.30

[2018-11-07 00:31] Dragomir-Ivanov commented on #839
It is not just that. On the 5.x.x version, if you open a page, then go to another page that has no `Link` or `Prefetch` components in it, and then you hit Browser reload, the current page will be preloaded, but then if you hit Browser Back button, the url will change to a perfectly valid path for your application, but since this path is not prefetched by `react-static`, 404 shows. I think `react-s

[2018-11-07 15:27] #776 closed, assigned to nobody

[2018-11-07 17:27] #743 closed, assigned to nobody

[2018-11-08 23:09] JustFly1984 commented on #764
Not stale

[2018-11-09 01:57] JustFly1984 opened #851 "[v6.beta.30 bug] Then I navigate back via window.history.goback() on dynamic routes, I got this error:"
**Describe the bug**
If I navigate back (there is no other way no go back with @reach/router), I got this error:
[code]

**Expected behavior**
Error is self describing

**Screenshots**
<img width="809" alt="screenshot 2018-11-08 20 55 06" src="https://user-images.githubusercontent.com/2255993/48238352-bf5edf00-e398-11e8-8eee-2a7a429ba940.png">

[2018-11-09 01:59] JustFly1984 commented on #846
I've pushed my example in branch `v6-example-dynamic` - there is an issue with double rendering - it renders both static and dynamic routes then I navigate to dynamic route.

[2018-11-09 07:35] #806 closed

[2018-11-09 09:29] #774 closed

[2018-11-09 16:07] dan-dr commented on #609
I'm still experiencing this problem in some pages on my site

[2018-11-09 21:00] assisthiago commented on #251
https://stackoverflow.com/questions/6237295/how-can-i-update-nodejs-and-npm-to-the-next-versions

[2018-11-10 04:45] JustFly1984 commented on #788
reopen

[2018-11-10 15:49] #790 closed

[2018-11-11 15:51] cubbuk commented on #534
@hundsim if you still have the issue try to give a default value to be used in media queries during build step. https://github.com/contra/react-responsive#server-rendering

[2018-11-11 19:34] #796 closed

[2018-11-13 12:33] sallynorthmore opened #852 "React-Static Router autoScrollToHash prop not working"
**Describe the bug**
I want to remove the `autoScrollToHash` feature that comes with react-static's `^5.9.12`.

Following the instructions in the Router docs has no effect: https://react-static.js.org/docs/components#router

**To Reproduce**
Steps to reproduce the behavior:
1. `react-static create`
2. Select `sass`
3. cd into project, `npm i`
4. Edit `App.js` so that Router contains prop: `<Router

[2018-11-13 17:59] #791 closed

[2018-11-13 19:20] AubreyHewes commented on #807
I have the same problem.. I also have found a workaround/resolution

It seems that it is indeed due to the installed symlink pointing to a relative path that is breaking. If you execute the command directly it works... see workaround/solution below.

#### Environment
[code]
#### Reproduce

##### Remove the global package

    yarn global remove react-static

##### Check it is no longer available

[2018-11-13 20:59] #784 closed

[2018-11-14 04:59] #772 closed

[2018-11-14 17:55] f2net opened #854 "Error deploying to Netlify"
**Describe the bug**
When I try building on Netlify I receive an error.
It's the first time I deploy to Netlify, so I may be missing something: sorry if it's my fault.

**To Reproduce**
I cloned the basic example, created my app and then tried to build in Netlify using "dist" as folder and "npm run build" as build command

**Expected behavior**
Build without errors

**Additional context**
The erro

[2018-11-15 00:07] #802 closed

[2018-11-15 08:50] Pixelatex commented on #854
Are you using a v6 beta? or a v5.x.x ?

[2018-11-15 08:56] f2net commented on #854
v. 5.9.12. Thank you.

[2018-11-15 12:49] f2net commented on #854
If it's useful, my package.json is as follows:
[code]

I updated some packages to the latest version (also serve): could it be related?

Thank you,
Matteo

[2018-11-15 13:05] Pixelatex commented on #854
Could you try reverting your packages to what they were on the initial install? I have a fresh install running on netlify without issues but they have older dependencies. Could be something breaking changed in one of them, like my router is on 4.2.0.

[2018-11-15 18:58] f2net commented on #854
I reverted all the packages in the same version as the basic template, but I receive the same error when Netlify builds.

[2018-11-16 08:05] digitalkaoz commented on #793
works now

[2018-11-16 08:05] #793 closed

[2018-11-16 08:07] digitalkaoz commented on #843
so it can be closed?

[2018-11-16 08:17] digitalkaoz commented on #816
@tannerlinsley another issue which would be solved by #845

[2018-11-16 09:13] Pixelatex commented on #854
Can you deploy the basic example without any changes? It might be that your changes to the code could be causing this.

(Or do you have the repo publicly available for me to take a look at?)

[2018-11-16 12:01] Jojocaster commented on #852
I'm also running into this issue, is there any way to fix it ?

[2018-11-16 19:19] hugmanrique commented on #854
Also, mind posting a link to your `package-lock.json` file? npm might be trying to download an older version.

[2018-11-16 19:20] Pixelatex commented on #854
~Also, does the build on local also fail?

[2018-11-18 03:08] #785 closed

[2018-11-18 12:54] sw-yx commented on #666
not stale

[2018-11-19 09:53] f2net commented on #854
Hi, thank you for your answer. I already tried to delete the package-lock.json and recreating it.
This morning I'll try deploying the basic example without changes.
If the example project works, @Pixelatex could you send me your email address (my is f2 at f2.net) so that I could send you the repository (it is not an opensource project).

Thank you,
Matteo

[2018-11-19 09:54] f2net commented on #854
The local build works well.

[2018-11-19 17:39] f2net commented on #854
I specified the node version in the .nvmrc file (running as 10.9.0).
I can confirm that the basic example works as expected on Netlify, so it is surely something bound to my code.
@Pixelatex If you are so kind to have a look at it, I could privately send the repository to you.

Thank you,
Matteo

[2018-11-19 17:40] Pixelatex commented on #854
sure, send it to eward@pixelvikings.be

[2018-11-19 21:42] StephanBijzitter opened #855 "How do I change the output paths for my templates?"
**Is your feature request related to a problem? Please describe.**
[code]

All my "templates" contain `src/targets/skelware/pages/` in their URL, which is adding unnecessary bloat to the output. Furthermore, it's just ugly.

**Describe the solution you'd like**
I'd like to be able to turn this into:
[code]

I'm currently building the routes like this:
[code]
I think it'd be nice to be able to retu

[2018-11-19 21:48] dontmakemethink opened #856 "[5.9.12] Large bundle size (no tree shaking)"
**Describe the bug**
I use rxjs@6 in my app **(react-static 5.9.12**). After the build process every operator is in the bundle what makes it quite large.

I think it's related to: [https://github.com/ReactiveX/rxjs/issues/3765](https://github.com/ReactiveX/rxjs/issues/3765)
As far as I understood, there is `babel-preset-env` package which transforms es6 module syntax to commonjs and it makes tree-

[2018-11-19 22:18] Pixelatex commented on #856
Hmm to be fair, not sure this is an RS-specific issue, more of a babel issue. There are quite a few modules that don't play well with tree shaking as I've noticed.

[2018-11-21 17:54] #812 closed

[2018-11-21 19:56] andrewmartin commented on #843
Yes, please feel free to close. Apologies!

[2018-11-21 19:56] #843 closed

[2018-11-21 19:58] luskin commented on #807
I'm having this issue as well, trying to switch from Gatsby to React-Static but can't even get a basic project off the ground. Anybody find a solution to this bug?

[2018-11-21 23:59] AubreyHewes commented on #807
@luskin a useable (sic)  [workaround](https://github.com/nozzle/react-static/issues/807#issuecomment-438401891) is to make the symlink absolute

    ln -fs $(readlink -f $(which react-static)) $(which react-static)

Above works on linux based systems. osx, afaik, does not support `readlink -f` (out of the box) so in this case you would have to manually fix the `ls -lad $(which react-static)` symli

[2018-11-22 05:14] mt-micky opened #857 "NODE_ENV forced to `development`"
**Describe the bug**
I'm using `convict` and grab the set `NODE_ENV` or default to `develop` for CI purpose.
But since `react-static` set `process.env.NODE_ENV` to `development` I cannot get my default value when running `start`.

**Expected behavior**
Leave `process.env.NODE_ENV` alone. As a library, you shouldn't have to set a value yourself.

[2018-11-22 15:55] sw-yx opened #858 "[v5] cannot do truly dynamic import: Property value expected type of string but got null"
**Describe the bug**

This works:

[code]

but this doesnt work

[code]

It generates this opaque compile error:

[code]

I assume it has something to do with this babel plugin: https://github.com/airbnb/babel-plugin-dynamic-import-node/issues/15

Is this "truly dynamic" kind of import supported? or am I doing something wrong?

**Desktop (please complete the following information):**
 - OS: ios
 -

[2018-11-22 17:01] #731 closed

[2018-11-23 13:19] f2net commented on #854
Hi @Pixelatex. Did you find the time to look at my project to understand why it fails building on Netlify?
Thank you for your kind support.

[2018-11-23 17:19] MartinRosenberg commented on #807
@luskin And to make @AubreyHewes' workaround work on macOS, you have to first run
[code]
and then you can run the same command but with `greadlink` in place of `readlink`.

[2018-11-24 06:00] #823 closed

[2018-11-24 11:04] Pixelatex commented on #854
@f2net

So I ran your code and pushed it to netlify. Sent you the link via email.

Everything works :)

2 things that might help:

1. Please write your code in english, with all the spanish variables and functions it's impossible to read. If you ever get a non-spanish speaking employee or you yourself go to an interview for an international company, this code will not help you.

2. You should comm

[2018-11-24 12:42] dan-dr commented on #807
yeah why is this closed... still happening. thanks for the workaround @luskin

[2018-11-25 00:00] #825 closed

[2018-11-25 21:13] Pixelatex commented on #807
This is not 100% reproducible and might be caused by your local setup.

[2018-11-25 21:14] Pixelatex commented on #807
I tried to reproduce this on 4 separate devices. 2 of them who never had react-static on it. Tried it with both yarn & npm as well...

[2018-11-26 09:43] corysimmons opened #860 "Hot reloading isn't working as expected"
**Describe the bug**
I can wrap every single component export in `hot(module)(MyComponent)` and it works. If I don't (i.e. if I just wrap my outermost `App` component), then hot reloading doesn't work.

**To Reproduce**
Steps to reproduce the behavior:
1. `yarn add global react-static`
2. `react-static create`
3. Select Emotion example
4. Create a simple component and try to update its styles

**E

[2018-11-26 21:59] hutber commented on #343
Sadly this doesn't help in my isomorphic set up

[2018-11-26 22:49] tj commented on #822
Could the preloading be done on hover / proximity instead? I remember playing with some click latency thing, and there's around 300m-500ms between most people's clicks after they hover a link, plenty of time to fetch a page

[2018-11-26 23:31] tannerlinsley commented on #822
This is a great idea. I'm actually slowly working out the details to allow plugins to control the nature of the preloader. This way you could technically import a community shared preloader, or write/configure any preloader to your liking.
On Nov 26 2018, at 4:23 pm, Robert Schönthal <notifications@github.com> wrote:

[2018-11-27 00:45] alex996 opened #862 "[v6] 'react-static create' fails with 'TypeError: The "path" argument must be of type string'"
**Description**

When I try to create a project with `react-static` **v6**, I get an error `TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string`.

**Reproduction**
1. `npm i -g react-static@next` (or `@6.0.0-beta.30`)
2. `react-static create`
3. Press `Enter` for each option
4. Observe the error

[code]

Note that
- I get the same error with `yarn global add react-static@n

[2018-11-27 16:30] tj commented on #822
I suppose you could also just crank up the proximity threshold to enable the current behaviour (more or less) as well

[2018-11-28 09:47] #828 closed

[2018-11-29 02:43] #831 closed

[2018-11-29 05:43] #832 closed

[2018-11-29 12:37] Pixelatex commented on #854
Yeah, was gonna close this actually. Happy it's been resolved :)

[2018-11-29 12:37] #854 closed

[2018-11-29 13:40] Pixelatex commented on #857
Hey @mt-micky

Ok, so it was supposed to have been changed in version 4.5.0 so you can use NODE_ENV for your own purposes. However.

Running start triggers this code, so it might be that your NODE_ENV variable hasn't been set yet when you run the start command? (might want to it to your package start script to prevent this from triggering)

[code]

Otherwise there is no code setting NODE_ENV to `d

[2018-11-29 13:43] Pixelatex commented on #827
Closing the ticket as it's not a bug and/or really react-static specific enough.

[2018-11-29 13:43] #827 closed

[2018-11-29 22:20] corysimmons commented on #860
@Pixelatex Thank you so much! Works!

[2018-11-29 22:20] #860 closed

[2018-11-29 22:22] corysimmons commented on #860
@Pixelatex It actually looks like the issue was already resolved in 5: https://github.com/nozzle/react-static/commit/774bd396d686f2d7ff821ce5023b26025fa7ccec

I just happened to make my project a few days before it was resolved. 🤕

[2018-11-30 03:12] mt-micky commented on #857
Yes. That code is my problem.
My system set the NODE_ENV to ’develop’ when not defined.
But since you define it first, it screws my app for development.
I shouldn't have to define it another place, just because you set it.
Why do you even need to set it to ’development’?

On Thu, Nov 29, 2018, 22:40 Pixelatex <notifications@github.com wrote:

[2018-11-30 08:02] Pixelatex commented on #857
This code will set it to development when it's NOT defined. Despite the fact on wether or not this is still used. (I think for webpack config maybe, @tannerlinsley confirmation?)

You can easily fix this issue by setting the node_env to the env you want before running start

[2018-11-30 21:41] corysimmons commented on #860
Maybe the `react-static create` is targetting an older version of the Emotion template? 🤔

[2018-12-01 00:36] #836 closed

[2018-12-01 03:50] zach-snell opened #863 "React-Static NPM Vulnerable Package: webpack-dev-server <3.1.6"
**Describe the bug**
When installing related packages, react-static is attempting to install vulnerable package:

                       === npm audit security report ===
                                 Manual Review
             Some vulnerabilities require your attention to resolve
          Visit https://go.npm.me/audit-guide for additional guidance

            High            Missing Origin

[2018-12-01 03:52] mt-micky commented on #857
But I shouldn't have to.

On Fri, Nov 30, 2018, 17:02 Pixelatex <notifications@github.com wrote:

[2018-12-01 03:52] mt-micky commented on #857
I'm pointing a problem.
I'm not looking for advice.

On Sat, Dec 1, 2018, 12:51 Micky Brunetti <mbrunetti@moneytree.jp wrote:

[2018-12-01 13:16] montezume commented on #858
@sw-yx if this helps, this seems to work.

[code]

[2018-12-01 14:36] #838 closed

[2018-12-03 03:52] lz-allen opened #864 "The problem of using CSS module in react-static"
The Html page packaged in the development environment contains the class name, which will be lost in the production environment.The problem of using CSS module in react-static.

eg:
[code]
## static.config.js
[code]

[2018-12-03 10:22] #824 closed

[2018-12-03 10:50] lifez commented on #825
Anyone facing this ?

[2018-12-04 09:40] nikaspran commented on #864
This is a known issue, see https://github.com/nozzle/react-static/issues/601#issuecomment-429574588 for workaround.

[2018-12-05 08:15] lz-allen commented on #864
@nikaspran
is the  import ExtractCssChunks from 'extract-css-chunks-webpack-plugin' ?
But it was still wrong.
[code]

[2018-12-06 18:51] ScriptedAlchemy commented on #864
This fixes it

Inside node.api.js

‘’’
import eslintFormatter from 'react-dev-utils/eslintFormatter'
import ExtractCssChunks from 'extract-css-chunks-webpack-plugin'
import path from 'path'
import fs from 'fs'

const appDirectory = fs.realpathSync(process.cwd())
const resolveApp = relativePath => path.resolve(appDirectory, relativePath)

export const eslintLoader = {
  test: /\.js$/,
  enforce: 'p

[2018-12-06 21:06] ScriptedAlchemy commented on #864
@lz-allen @nikaspran @i8ramin @kylemac @deden

[2018-12-07 09:10] lz-allen commented on #601
@Zack Jackson
I don't know why I always build error when I use "extract-css-chunks-webpack-plugin", on the contrary, "extract-text-webpack-plugin" won't.    But the className built by this plug-in is undefined
I also purposely upgraded webpack 4.0

[2018-12-07 09:46] lz-allen commented on #864
All I need to do is use this “extract-css-chunks-webpack-plugin” and I will build an error.
my webpack is ^4.0

[2018-12-07 12:12] Dragomir-Ivanov commented on #618
Not stale

[2018-12-07 14:20] #844 closed

[2018-12-07 23:44] karinamachado commented on #343
@JustFly1984 Hi, I am learning react, I have the same problem. My question is: what file I can write this code?  Thanks. :)

let history
if (typeof document !== 'undefined') {
  const createBrowserHistory = require('history/createBrowserHistory').default
  history = createBrowserHistory()
}
export default history

[2018-12-08 02:20] #744 closed

[2018-12-08 17:44] ScriptedAlchemy commented on #864
What’s the arrow that you are getting?

[2018-12-08 17:47] ScriptedAlchemy commented on #863
If you upgrade Webpack dev server, does the venerability go away?

Sometimes it’s super hard to resolve dev only venrubilities, as nobody’s hacking localhost.

[2018-12-08 17:53] ScriptedAlchemy commented on #864
My solution only works for RS 6

[2018-12-08 18:00] ScriptedAlchemy commented on #856
This is caused by a few things.

Some architectural challenges of RS5, the limitations of older Webpack, some limitations of my own software at the time.

Unfortunately the old aggressive code splitting plugin available in Webpack 2,3 is not compatible with the versions of m software that support Webpack 2,3

RS6 does a better job, and some of its underlying codebase which I own, now supports more

[2018-12-08 18:00] #856 closed

[2018-12-08 19:39] Dragomir-Ivanov commented on #839
Nope, not stale

[2018-12-08 20:53] joaopedromattos commented on #343
I want to know that too! I have the same issue and I don't have any clue about in what file should I write this code.

[2018-12-08 22:55] tannerlinsley commented on #839
This is fixed in the next version. Try the beta!

On Sat, Dec 8, 2018 at 12:40 PM Dragomir Ivanov <notifications@github.com>
wrote:

[2018-12-09 04:47] tannerlinsley commented on #851
Fixed in latest beta

On Sat, Dec 8, 2018 at 7:47 PM stale[bot] <notifications@github.com> wrote:

[2018-12-09 10:46] Dragomir-Ivanov commented on #839
Thanks a ton!

[2018-12-09 10:47] Dragomir-Ivanov commented on #839
@trbrc Can you close this issue, stating that it is fixed in v16?

[2018-12-09 16:02] tannerlinsley commented on #839
Fixed in v6

[2018-12-09 16:02] #839 closed

[2018-12-09 19:44] ScriptedAlchemy commented on #601
Okay this is the same issue as some others are having.  I patch it directly in projects. Here is it.

It was literally exactly this where stuff comes back undefined.

![50781514-1f30-4012-a57c-0879c26a73fb](https://user-images.githubusercontent.com/25274700/49701964-bdf72100-fba7-11e8-82ed-9a3df27efbeb.jpeg)

[2018-12-09 19:45] ScriptedAlchemy commented on #601
@tannerlinsley do we have a cssModules option currently exposed to the user?

[2018-12-09 19:56] nikaspran commented on #601
@ScriptedAlchemy please see https://github.com/nozzle/react-static/issues/601#issuecomment-429574588 - this has nothing to do with ExtractCssModules itself, react-static just does not include it in the `node` stage and thus the classes never get exported as properties for css module imports.

I still haven't gotten around to creating a PR, but the workaround definitely works for both 5.x and 6.x.

[2018-12-09 21:14] ScriptedAlchemy commented on #601
Ohhhh I noticed this before. It’s not emitting it the same way or something? I’ve been mening to look into it. please tag myself in the pr when you have time. It would be a huge help to many!

[2018-12-09 21:58] JustFly1984 commented on #601
Guys don't waste your time with react-static, I've migrated every project I had to gatsby, and gatsby is faster, reliable and does support css modules out of the box without the need to hustle with webpack config, although you can do that too.

[2018-12-09 22:00] Pixelatex commented on #601
@JustFly1984 We are not gatsby and if you're not helping, please don't be an ass about it as well.

[2018-12-09 22:17] JustFly1984 commented on #601
@Pixelatex I've been trying to work my way with react-static and CSS modules for several months, and there is too much issues among the webpack configuration. At the end you get extra css file embedded to <head> and you can't do nothing about it.

[2018-12-09 22:30] ScriptedAlchemy commented on #601
Not the culture I’d like to see on the project, especially since gatsby is a funded project with millions poured into it.

I understand your frustration, and I do know that RS does indeed have complex Webpack composers which do make it hard to deal with build problems. But please understand RS6 is still in beta.

I understand your desire to move from frustration, but authors are under strain and t

[2018-12-09 22:32] JustFly1984 commented on #601
It does not support CSS modules, and it will not support it for long time. This is a thread about CSS modules. I'm telling everybody who does need CSS modules as I am that it does not resolving this issue since 5.8.2 version. I was pointing this out for long time, and wasted my time.

[2018-12-09 22:33] Pixelatex commented on #601
@ScriptedAlchemy Agreed, let's get this thing back on topic and fix it for the people who care

[2018-12-09 22:37] ScriptedAlchemy commented on #601
Actually, I reached out and personally pull requested your private project.  My PR remains open, it was you who never responded to me.

I will not let this ruin my day. But I cared about your challenges and even though I was exhausted, I went out of my way to fix your project free of charge. You could have voiced your opinion in a less emotional manner and / or pr worked with us.

Screw me tho, ri

[2018-12-09 22:39] JustFly1984 commented on #601
This did not worked out, I had the same issue after your fixes. I do not want to ruin anybody's day.

[2018-12-09 22:45] ScriptedAlchemy commented on #601
Then give me some feedback dude! You had the author of half this crap litter all working on your private project for free. I was waiting for your review so I could fix the issue once and for all. The fix I was trying to apply for you would have been the PR I open to this project.

Emotions aside. I do apologize that we didn’t pull through for you. If you do end up using either my tools or ones I’m

[2018-12-09 22:54] ScriptedAlchemy commented on #601
Now back to the point. @nikaspran, if we just include css plugin in node, will that rectify the issue based on your experience.

Would you be willing do join my slack channel and over a few messages one evening hammer this out together. I myself do not have a project using RS with css modules.

I’ve got write access, but help me pinpoint it.. what did you do to fix it? I’ll open a pr today if you

[2018-12-09 23:30] ScriptedAlchemy commented on #601
Compared against Icarus, this should be what we need in terms of how css module should work on node

https://github.com/ScriptedAlchemy/Icarus/blob/master/build/webpack.config.js/loaders.js

[2018-12-10 00:03] ScriptedAlchemy commented on #601
Okay this is actually simple to fix.

I’m going to add a new example project to the generator, then go back and write a comment along with the code in the sass examples and such that says “in-comment  this if you want modules”

[2018-12-10 00:53] tannerlinsley commented on #601
Sounds like things got a little heated for a bit. Given the conversation I'd like to echo and clarify some things from our contribution guidelines:

- This is open source, not a business, but that doesn't mean it's free. It's an exchange of knowledge and support to make great tools accessible to the world.
- React Static is developed and maintained for free by a number of very generous people. Tha

[2018-12-10 01:00] JustFly1984 commented on #601
@tannerlinsley sorry bro, I didn't mean to be considered trash talking. Peace everybody.

[2018-12-10 01:04] ScriptedAlchemy commented on #601
PR is open.  Waiting on Tanner so i know how to test it via RS CLI, and obviously, once I'm at a computer. If someone can assist in testing it, ill be much obliged.

@nikaspran thank you very much for your efforts in debugging this. While i own some of the underlying dependencies, there are areas of RS i am not familiar with.

I again apologize for the inconvenience this issue has caused all of ou

[2018-12-10 01:35] ScriptedAlchemy commented on #858
Hey all. Let me know if there’s unanswered questions. I’m on my mobile but will re-read the issue. Universal needs then on the end to actually kick things off under the hood.

It looks like a promise, but “then” is a custom function that must be envoked to make it work.

If you use Babel-plugin-Universal-import. Then don’t use other “import” Babel plugins other than the syntax one as they conflict

[2018-12-10 01:42] ScriptedAlchemy commented on #858
Remember, import is actually transformed into a specification that  James and myself maintain. More can be read on react universal components repo.

Good news: RUC showed up as a dependent for React, so the universal to suspense api should hopefully be an easy port

[2018-12-10 01:43] #787 closed

[2018-12-10 03:48] ScriptedAlchemy commented on #816
Can those experienceing issues try turning off uglification? I’ve seen it cause problems like this before. Let me know if you remove uglifyjs. Do you still have the same problems?

[2018-12-10 06:53] sw-yx commented on #858
i didnt manage to get around to this in the end. was trying to build a framework on top of react-static that dynamically imports mdx files. too much context switching right now for me to get back to this but i will probably come back for it sometime in future. will close for now until i have time ot get back to this. thank you Zack and Malcolm!

[2018-12-10 06:53] #858 closed

[2018-12-10 08:44] ScriptedAlchemy commented on #858
Alrighty! Good luck! I know context switching can get to us when the quantity starts increasing.

Here if you need me!

[2018-12-11 22:38] MartinRosenberg commented on #807
The root of the problem appears to be with Yarn, and not React Static. Per https://github.com/yarnpkg/yarn/issues/648 (as mentioned in #789), Yarn has longstanding issues with global packages, such as installing to undesirable locations (particularly with nvm) and not linking. Reinstalling `react-static` with npm fixes the issue, or you can make the necessary adjustments for Yarn.

@Pixelatex, wou

[2018-12-12 13:17] amirhouieh commented on #306
@meandillar facing same issue (using typescript)! could you please point me out where to add ES6 polyfill? I have tried adding it to `.babelrc` but does not help.

[2018-12-12 15:52] trbrc commented on #839
So is this a won't fix for 5.x.x?

[2018-12-12 16:13] tannerlinsley commented on #839
As of right now, I don't not know of a way to fix it in v5 without introducing a major overhaul of how the v5 components work. And it would likely be a breaking change. I'm open to discuss it though.

[2018-12-12 17:09] kmcaloon commented on #764
Hey all, so according to this spectrum thread this issue should not be marked as "Done" within the project board.

 https://spectrum.chat/react-static/general/status-on-incremental-builds~90cedb9b-3e15-4eec-be7c-3ccb473615eb

[2018-12-12 17:13] tannerlinsley commented on #764
That's just StaleBot keeping us on our toes. 😉

[2018-12-12 17:16] tannerlinsley commented on #764
But to be clear, you can in fact do reexports of your site in v6 already without rebundling.

- `react-static bundle` - Bundles your app (mostly webpack) and preps it for export
- `react-static export` - Fetches your routes and data and exports your site to html+json. If templates have changed, this will break your site if you don't rebundle.
- `react-static build` - Does both `bundle` and `build`

[2018-12-12 17:23] tannerlinsley commented on #788
Since we control the rendering time of the app, react-helmet-async isn't needed any more.

[2018-12-12 17:23] #788 closed

[2018-12-12 17:33] tannerlinsley commented on #816
With #845, I think we can close this. We are following CRA's external babel loader example exactly, and there is the escape hatch with `config.babelExcludes`.

[2018-12-12 17:33] #816 closed

[2018-12-12 17:33] #851 closed

[2018-12-12 17:35] tannerlinsley commented on #846
The `<Routes>` component will no longer render unless the route is an exact match on a static route. If you defined `<Routes>` as the fallback to your dynamic router, it should handle things perfectly now.

[2018-12-12 17:35] #846 closed

[2018-12-12 17:35] tannerlinsley commented on #864
This is being tracked in #601

[2018-12-12 17:35] #864 closed

[2018-12-12 17:36] tannerlinsley commented on #863
This is no longer an issue in v6 and as stated, it is a dev dependency.

[2018-12-12 17:36] #863 closed

[2018-12-12 17:41] tannerlinsley commented on #618
After some deep thinking on this subject, I don't think it's going to be possible to do this any time soon. Going to move this issue into the vault for now. We may revisit this in future breaking versions of React Static

[2018-12-12 17:41] #618 closed

[2018-12-12 17:47] tannerlinsley commented on #848
In the latest beta, I can confirm that running `react-static start --config=myCustomConfig.js` is accurately referring to `/Users/Me/my-static-site/myCustomConfig.js`

[2018-12-12 17:47] #848 closed

[2018-12-12 17:48] tannerlinsley commented on #762
`nohoist` is the recommended solution for now. Thanks for your help @AubreyHewes!

[2018-12-12 17:48] #762 closed

[2018-12-12 18:00] tannerlinsley commented on #857
Many libraries (including React itself and Webpack) rely on the `NODE_ENV` variable to be set to `production` or `development` for proper inclusion/exclusion of code, minification, and performance reasons.

If you look at any near zero-config build system in the ecosystem, it is very normal for them to set this variable when none is provided. You will rarely see anyone run

[code]

Instead, you se

[2018-12-12 18:00] #857 closed

[2018-12-12 18:02] tannerlinsley commented on #862
This is fixed in the latest beta! Yay!

[2018-12-12 18:02] #862 closed

[2018-12-12 18:05] tannerlinsley commented on #855
This would have to be configured via webpack and the chunk detection/naming that is used in the many plugins we use. I'm not sure we have much control over this, but @ScriptedAlchemy might know...

[2018-12-12 18:06] tannerlinsley commented on #852
If you are referencing the animated scroll to hash, then you'll be glad to know it's been fixed in v6!

[2018-12-12 18:06] #852 closed

[2018-12-12 18:07] tannerlinsley commented on #767
Does this still happen in the latest v6 beta?

[2018-12-12 22:33] ScriptedAlchemy commented on #855
tough one, but it is possible to do. first thing is that the universal babel plugin is likely following the path to generate the chunk name, thats a litttle harder to change, but check if the `output` and `chunkfilename` (or something like that) will accept a function and if so on demand. you can create a regex which could change the output chunknames.. usually in your output object in webpack its

[2018-12-12 22:58] karland opened #869 "Bug: TypeError: Cannot read property 'from' of undefined"
### Are you reporting a bug?

Yes.

1. Fresh install of `react-static` with `npm install -g react-static`
2. Calling `react-static create` fails. See below.

### Environment

1.  `react-static -V`:
6.0.0
2.  `node -v`:
v8.11.4
v10.14.2 (same error)

3.  `npm -v`:
5.6.0

4.  Operating system:
Windows 10

### Steps to Reproduce the problem

**Base your steps off of any freshly installed react-static

[2018-12-13 01:13] mt-micky commented on #857
Your last statement sounds like it should be documented somewhere then.

[2018-12-13 04:33] tannerlinsley commented on #857
Indeed it should. Would you like to submit a PR to the docs for it?

On Wed, Dec 12, 2018 at 6:13 PM Micky <notifications@github.com> wrote:

[2018-12-13 07:43] ScriptedAlchemy commented on #601
@nikaspran new PR opened

Let me know if you have any other contributions.

https://github.com/nozzle/react-static/pull/870

[2018-12-13 08:14] ScriptedAlchemy commented on #816
that's an acceptable solution in my opinion.

try Tanners solution and let us know if it resolves the problem

[2018-12-13 09:12] Omashu commented on #869
works for me:
install as dependency, call
`node ./node_modules/react-static/bin/react-static-create`
but the error with time reappears and helps reinstalling

1. `node -v`
v10.14.2

2. `npm -v`
6.4.1

3. Operating system:
Windows 10

[2018-12-13 17:36] Jojocaster commented on #852
Cheers ! 🎉

[2018-12-13 19:10] tannerlinsley commented on #869
I just released a fix for the create command. Can you please try again?

[2018-12-13 19:11] tannerlinsley commented on #601
With #870 merged, we can now put this to rest 🎉

[2018-12-13 19:11] #601 closed

[2018-12-13 19:58] karland commented on #869
I tried to install, but after the install of

[code]
I get

[code]

I checked. 6.0.2 is already on npm.

Thereafter some errors occur, but I suppose they are irrelvant since the versions got mixed up?

[2018-12-13 22:16] tannerlinsley commented on #869
It appears this has been resolved. Reopen if more information becomes available. Thanks!

[2018-12-13 22:16] #869 closed

[2018-12-13 22:17] tannerlinsley commented on #666
We'll keep this issue in the project for ongoing development, but as of now, plugins have been merged and released in v6, so going to close this issue.

[2018-12-13 22:17] #666 closed

[2018-12-14 03:00] bkniffler opened #873 "In development while changing static.config.js: TypeError: global.reloadAll is not a function"
I found this line here:

https://github.com/nozzle/react-static/blob/57ecc92a63182aab91112be5c3e787c338308b09/packages/react-static/src/browser/components/RouteData.js#L19

This should be uncommented I guess. It is being called here:
https://github.com/nozzle/react-static/blob/57ecc92a63182aab91112be5c3e787c338308b09/packages/react-static/src/browser/index.js

[2018-12-14 04:18] ScriptedAlchemy commented on #601
anyone who experiences any more issues, please tag @ScriptedAlchemy - Ive tried to cover the scenarios. Remember, im not perfect and usually screw things up the first 2 times 🤣.

Im more than happy to take on challanges and of course fix css modules issues.
Lets all be positive, if you are in frustrating situations - we tottaly empathise!

Thank you all for the patience especially since the issue

[2018-12-14 04:19] Herohtar opened #874 "Error during `react-static create`"
When you run `react-static create` using a fresh install, it shows an error message. The process continues and otherwise seems to create the project okay.

### Environment

1.  `react-static -V`: 6.0.2
2.  `node -v`: 11.4.0
3.  `npm -v`: 6.4.1
4.  Operating system: Windows 10 x64
5.  Browser and version (if relevant): N/A

### Steps to Reproduce the problem

1.  Install `react-static` with `npm i

[2018-12-14 04:25] Herohtar opened #875 "`react-static create` displays warning and only works once."
After running `react-static create` once after a fresh install, it will not work again and fails with a stack trace. Uninstalling and reinstalling will allow you to run it once more, and it again will fail on a second run. It might be worth noting that the first run displays the error message described in https://github.com/nozzle/react-static/issues/874.

### Environment

1.  `react-static -V`: 6

[2018-12-14 04:43] tannerlinsley commented on #874
I've tried replicating this (everything except for Window... I'm on a Mac) and I can't get this to pop up. Am I missing something critical? We may need to find another windows user to confirm this.

[2018-12-14 05:09] tannerlinsley commented on #873
I'll get that taken care of.

[2018-12-14 05:11] tannerlinsley commented on #875
Similar to your other issue, I am unable to replicate this. It could be a Windows thing, so if we can find another Windows user to try this out, that would be great.

[2018-12-14 10:03] ScriptedAlchemy commented on #855
RS does a lot, but I encourage everyone to understand webpack if they don’t. Priceless skill. Anything can be worked around if you know how to modify the compiler

[2018-12-14 15:33] g-ir commented on #875
I'm getting the same error

### Environment
1. `react-static -V`: 6.0.0
2. `node -v`: 10.13.0
3. `npm -v`: 6.4.1
4. Operating system: Windows 10 x64
5. Browser and version (if relevant): N/A

[code]

[2018-12-14 16:49] #873 closed

[2018-12-15 17:28] nashequilibro opened #876 "styled-components example on v6 is outdated and doesn't work."
### Are you reporting a bug?

Yes:

The styled-components basic example uses styled-components v4 and fails because it still uses the old injectGlobal syntax:

`Attempted import error: 'injectGlobal' is not exported from 'styled-components'.`

Changing the code in App.js to the styled-components v4 example on how to use the new GlobalStyle:

[code]

does not work as the hot reloading fails with:

[2018-12-15 23:13] paavohuhtala opened #877 "Production builds are broken on Windows"
### Are you reporting a bug?

Yes.

Production builds are broken on Windows, because of the changes done to [`generateTemplates.js`](https://github.com/nozzle/react-static/blob/7363c0b236d4d04d7b5c8a004f0011f9a0028122/packages/react-static/src/static/generateTemplates.js#L14) in 7363c0b236d4d04d7b5c8a004f0011f9a0028122. The code inserts a path string into the source file, and since Windows uses `\

[2018-12-15 23:46] Herohtar opened #878 "openport is deprecated"
React Static uses the package `openport v0.0.5`; however, this package is deprecated and during installation npm displays the message: `npm WARN deprecated openport@0.0.5: Use portfinder`

The dependencies should be updated to use the recommended replacement for the deprecated package.

[2018-12-16 02:05] #878 closed

[2018-12-16 16:03] paavohuhtala opened #881 "react-static-plugin-sass doesn't work"
### Are you reporting a bug?

Yes.

`react-static-plugin-sass` doesn't work, at least not in dev mode. Trying to build a project with the plugin enabled crashes the build process, with the following error message:

[code]

### Environment

1.  `react-static -V`: `6.0.4`
2.  `node -v`: `v11.4.0`
3.  `npm -v`: `6.4.1`
4.  Operating system: Windows 10 Education x64

### Steps to Reproduce the problem

[2018-12-16 16:04] deemaxx opened #882 "Cannot start dev server using typescript template"
Using react-static version 6.0.4 I am unable to even get the dev server to start. This may be related to issue [#767](https://github.com/nozzle/react-static/issues/767)

### Environment:

1. `react-static --version` : 6.0.4
2. `node --version`: 11.4.0
3. `yarn --version`: 1.12.3
4. Operating system: macOS Mojave 10.14.2

### Steps to Reproduce problem:

1. `react-static create -n my-static-site -t

[2018-12-17 07:28] max80713 opened #883 "TypeError: Cannot read property 'map' of undefined"
### Environment

1.  `react-static -V`: 6.0.4
2.  `node -v`: v8.9.0
3.  `npm -v`: 5.5.1
4.  Operating system: macOS Mojave 10.14
5.  Browser and version (if relevant):

### Steps to Reproduce the problem

1.  react-static create
2.  yarn build
3.  yarn serve

#### result

navigate to http://localhost:3000/blog and show in browser:

[code]

### Expected Behavior

A normal post page just like the on

[2018-12-17 09:25] nathanielw opened #886 "Webpack hook not called in v6"
### Are you reporting a bug?

Yes

### Environment

1.  `react-static -V`: 6.0.4
2.  `node -v`: v11.0.0
3.  `npm -v`: 6.4.1
4.  Operating system: MacOS 10.13.6

### Steps to Reproduce the problem

**Base your steps off of any freshly installed react-static template!**

1.  Create a new react-static project based on the "basic" template (although this affects all templates)
2.  Update the `static.c

[2018-12-17 09:38] paavohuhtala commented on #883
I can confirm. Attempting to navigate to the blog in a production build just crashes the page.

Here's a repo you can repro with: https://github.com/OpenSAGE/opensage.github.io/tree/gh-pages

[2018-12-17 15:11] #877 closed

[2018-12-17 15:17] tannerlinsley commented on #883
Hmm... I thought I fixed this bug, but apparently not. This is most likely a race condition when updating the location of the page and the RouteData component in the previous or next template attempting to pull stale or unloaded data.

I'll look into this more. Thanks for the repro.

[2018-12-17 16:21] tannerlinsley commented on #886
Whoops. Looks like we need to update the documentation on this. The proper way of using the webpack hook now is through the plugin api. I'll get on this.

[2018-12-17 16:21] #886 closed

[2018-12-17 16:22] tannerlinsley commented on #886
Updated :) https://github.com/nozzle/react-static/blob/master/docs/config.md#webpack

[2018-12-17 16:51] tannerlinsley commented on #881
@ScriptedAlchemy Do you know why this would be failing? We might need to rework this plugin a bit.

[2018-12-17 19:37] mariovde commented on #876
Exact same error here... Any ideas on this one?

[2018-12-17 19:46] tannerlinsley commented on #876
I just updated react-hot-loader to the latest version which should fix this. Try again with the latest version?

[2018-12-17 19:49] tannerlinsley commented on #875
Just released a new version with a refactor of the CLI system and some other windows-specific fixes. Wanna try this again?

[2018-12-17 20:16] mariovde opened #888 "react-static v6.0.5 - yarn start doesn't start - Throws error on styled-components"
### Are you reporting a bug?

Yes

### Environment

1.  `react-static -V`: 6.0.5
2.  `node -v`: v8.11.3
3.  `npm -v`: 6.4.1
4.  Operating system: Mac OSX Sierra 10.12.6 (16G1618)
5.  Browser and version (if relevant): Chrome Version 71.0.3578.98 (Official Build) (64-bit)

Package.json:

{
  "name": "react-static-example-styled-components",
  "version": "6.0.0-beta.30",
  "main": "index.js",
  "lic

[2018-12-17 20:34] tannerlinsley commented on #888
Tracking in #876

[2018-12-17 20:34] #888 closed

[2018-12-17 20:36] mariovde commented on #888
When updating App.js to this:

`import React from 'react'
import { Root, Routes, Link } from 'react-static'
import styled, { createGlobalStyle } from 'styled-components'

//

const GlobalStyle = createGlobalStyle`
  body {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
      'Lucida Grande', sans-serif;
    font-weight: 300;
    font-size: 16px;

[2018-12-17 20:43] mariovde commented on #876
Just did a re-install, and still a no-go.
updated App.js to use createGlobalStyle.

yarn start now starts up a server.
But got this error in chrome:

Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in, or you might have mixed up default and n

[2018-12-17 21:36] tannerlinsley commented on #876
Please post your code you are attempting to use from App.js

[2018-12-17 21:39] mariovde commented on #876
`    import React from 'react'
    import { Root, Routes, Link } from 'react-static'
    import styled, { createGlobalStyle } from 'styled-components'

    //

    const GlobalStyle = createGlobalStyle`
      body {
        font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
          'Lucida Grande', sans-serif;
        font-weight: 300;
        font-si

[2018-12-17 21:49] tannerlinsley commented on #876
Run these commands, then try again:

[code]

[2018-12-17 22:01] mariovde commented on #876
@tannerlinsley I tried the commands you provided, but problem still persists.

[2018-12-17 22:12] Pixelatex commented on #876
Eureka!

The issues seems to be the link component. It's still being imported from 'react-static'

I added `import { Link } from '@reach/router'` and it runs!

[2018-12-17 22:14] Pixelatex commented on #876
That and removing the AppContainer component from this method:

[code]

[2018-12-17 22:53] Pixelatex commented on #876
https://github.com/nozzle/react-static/pull/889

[2018-12-17 23:40] sgup commented on #876
Running into the same issues. Wary of removing the code above though, will it break other features?

[2018-12-18 00:59] Herohtar commented on #875
It looks like the error and subsequent crash on second run has been fixed with the recent updates.

I do get some warnings during the dependency installation step, but I don't think they're directly part of `react-static`?
[code]

[2018-12-18 01:24] #875 closed, assigned to nobody

[2018-12-18 05:46] tgrrr opened #890 "update via npm -g doesn't update repository, error message: Error: route.is404 has been deprecated. Use `path: '/404'` instead! Route: {"is404":true,"component":"src/containers/404"}"
### Are you reporting a bug?

Yes

### Environment

1.  `react-static -V`: 6.0.6
2.  `node -v`: v8.11.4
3.  `npm -v`: 6.4.1
4.  Operating system: macOS Mojave 10.14

### Steps to Reproduce the problem

- Updated to react-static 6.0.6 via `npm i react-static`
- Installed app via `react-static create` > basic
- Also tested with algolia and netlify-cms
- run app with `yarn start`

### Expected Behavi

[2018-12-18 05:57] tannerlinsley commented on #890
Version 6 has breaking changes and requires upgrades to your app. Have you
looked at the changelog?

On Mon, Dec 17, 2018 at 10:46 PM Phil <notifications@github.com> wrote:

[2018-12-18 06:07] ScriptedAlchemy commented on #881
Yeah hmm 🤔

Tannner, can you sanity check the code once more? It tried to keep it similar.

I’ll check it out tomorrow and see what’s going on in there

[2018-12-18 06:10] ScriptedAlchemy commented on #881
I think I have a clue as to what it is. Sorry everyone! I tried to give it time to air.

Can you paste in your webpack config just so I can see it

[2018-12-18 07:17] mariovde commented on #876
@Pixelatex your solution works indeed.
But removing AppContainer from react-hot-loader, won't it affect performance in some way?

[2018-12-18 11:21] mikestopcontinues opened #893 "Request for router docs/examples"
### Is this a feature request?

I'm currently trying to upgrade to v6, and I've hit some snags with the router. The docs say v6 still uses `react-router` under the hood, and that I can require my own version to override the default. However, it looks like v6 is actually using a smidge of `@reach/router`, which has a noticeably different API.

I think it would be really useful to see a few things:

[2018-12-18 11:26] #876 closed, assigned to Pixelatex

[2018-12-18 11:29] Pixelatex opened #894 "Hot reloading seems broken on V6"
After fixing #876, I noticed that the hot reloading is having issues in all examples, even the basic one.

The hot reloading module recommends using hot(app) instead of hot(module)(app). But while this does work, it seems to reload the route component only and removes the app html (<nav> for example).

We may need to downgrade the hot reloading to an older version or update our usage to make it wo

[2018-12-18 11:30] leekad commented on #894
Checked, HMR only reload the index.js and App.js. All others not working

[2018-12-18 11:32] Pixelatex commented on #894
Not sure if I can look into it today so made the ticket here so someone else may fix it sooner 😄

[2018-12-18 14:14] tannerlinsley commented on #893
Yes absolutely

On Tue, Dec 18, 2018 at 4:24 AM Pixelatex <notifications@github.com> wrote:

[2018-12-18 16:39] Herohtar commented on #894
This is the same issue that v5 had that was supposedly fixed in v6; did it work at some point?

[2018-12-18 16:56] tannerlinsley commented on #894
It's been a constant battle. React hot loader is in disarray right now and
especially is having a hard time with the 16.6 and 16.7 versions of react.
Unfortunately this is an upstream issue for the most part and we'll have to
wait and see what happens but we're going to do everything we can to get it
to work in its current state.

On Tue, Dec 18, 2018 at 9:39 AM Herohtar <notifications@github.com>

[2018-12-18 17:09] leekad commented on #894
Disable code splitting on dev should work, doesnt it?

[2018-12-18 17:20] tannerlinsley commented on #894
Code Splitting doesn't happen in dev in v6 at all. If you look at `tmp/dev-server/react-static-templates.js` you'll see it's just raw imports :)

[2018-12-18 18:40] tannerlinsley opened #895 "Move away from hard-coded examples towards guides"
Right now, examples are extremely difficult to maintain because:
- There are a lot of them
- They all differ slightly from one another in seemingly random ways
- They have a TON of similar code, but currently can't share that code
- Breaking changes must be made manually either via search and replace, codemods (we don't have them yet), or line by line.

### Guides
As a maintainer, I would 100% rat

[2018-12-18 19:14] Herohtar commented on #895
I like this idea. The most frustrating thing for me with `react-static` has been out-of-date examples or ones that just don't work at all. That's not helpful when you're trying to learn how to use something new. Even with a working example, you're left to pick it apart on your own and try to figure out which specific parts (across multiple files) are actually part of the feature you are wanting to

[2018-12-18 20:35] cbroberg opened #896 "Material UI example not working"
### Environment

1.  `react-static -V`: 6.0.6
2.  `node -v`: v11.1.0
3.  `npm -v`: 6.4.1
4.  Operating system: MacOS 10.11.6 (15G22010)
5.  Browser and version (if relevant): Version 71.0.3578.98 (Official Build) (64-bit)

### Steps to Reproduce the problem

**Base your steps off of any freshly installed react-static template!**

1.  Freshly installed react-static material-ui template
2.  Updated

[2018-12-18 20:39] tannerlinsley commented on #896
Not sure if you saw, but this is happening: https://github.com/nozzle/react-static/issues/895.

In a nutshell, examples will be no more and guides will be the way forward. Clearly the materialUI example is out of date, too.

Would you be interested in writing the guide for using Material UI? Here are some examples: https://github.com/nozzle/react-static/tree/master/docs/guides

[2018-12-18 20:40] cbroberg commented on #896
I am so close to giving up. I almost got everything working with the styled-components example but the yarn build static site didn't serve the correct route neither with yarn serve or a push to a surge.sh site had the same errors. Every time i tried the blog route it failed and after a manual reload of the page it worked. But that is not acceptable.

[2018-12-18 20:44] tannerlinsley commented on #893
I'll start working up some more docs on what ships with React Static and how to use your own router for dynamic routes. Some quick notes:
- React Static ships with a reach/router `Router` instance in the `Root` component. This is mostly to make it easier for reach/router's `Link` component to work out of the box without having to inject your own router again.
- Technically, you don't have to use r

[2018-12-18 20:47] tannerlinsley commented on #896
You're right. We're still working out some kinks around all of the integrations and v6. If you have a link to your repo we could take a look at and try to reproduce these issues, it will help us fix the issues much faster. Thanks for your support!

[2018-12-18 20:49] cbroberg commented on #896
@tannerlinsley I am not skilled enough to write a guide for using react-static. I wish. But working on it though. I can test and research different aspects of OS solutions but if they do not work as prescribed I'm not fortunate to solve all issues on my own. I have senior devs but try to check out and sanitize potential software solutions and I must admit that react-static looked very promising.

[2018-12-18 20:51] tannerlinsley commented on #896
You bet. Both of those examples were working great for everyone in v5 just a days ago, so I'm sure it's something small we just need to iron out. Let me know when you get those repos up to test with 😄

[2018-12-18 21:08] quiringk opened #897 "Production links not working (work fine in development)"
### Are you reporting a bug?

Yes

### Environment

1.  `react-static -V`: ^6.0.6
2.  `node -v`: 10.11.0
3.  `npm -v`: 6.4.1
4.  Operating system: Mac

### Steps to Reproduce the problem

Everything works fine in development mode (npm run start). When I go to production (npm run build), I get an error for each link on my home page (similar to each blog post in the demo.) I have 10 links and I get

[2018-12-18 21:17] tannerlinsley commented on #897
It looks like your server isn't serving up the `routeInfo.json` files correctly. Without more info on how your server is set up, I'm not sure how to help other than say make sure your server can serve up those files correctly.

<img width="950" alt="screen shot 2018-12-18 at 2 16 10 pm" src="https://user-images.githubusercontent.com/5580297/50183550-b1717780-02cf-11e9-93b3-c47f5b6701e8.png">

[2018-12-18 21:22] quiringk commented on #897
OK interesting. Thanks for the quick response! We did do some nginx server configuration so I will check. But FYI, I ran "react-static create" and "npm run build" for the sample with blog posts and it works fine.

[2018-12-18 21:57] quiringk commented on #897
When I type the URL of the link I was clicking on (ex: https://foo.brandlive.live/c/14677/) in the browser and load it it works fine. Do you still think this is a server issue? (I only get the above error when clicking the link to go to the page, not typing the URL and hitting enter)

[2018-12-18 22:05] tannerlinsley commented on #897
Yes. That pages renders because the routeInfo needed to render it is embedded in the html and used when the app hydrates. Subsequent navigation on your site is broken though because your server is not serving xhr requests to `your/page/routeInfo.json` correctly. Without that routeInfo, the app doesn't know what data to fetch or which template to load for a given page.

[2018-12-18 22:31] sgup commented on #894
I'm having an issue where I have to re-start the whole server after a few minutes. I'm already refreshing the browser in between edits to see the updates, but after some minutes even the refresh stops working and waiting perpetually for the site to load. Is this related?

Running fresh install with styled-components and Pixelatex's recent edits.

[2018-12-18 22:34] tannerlinsley commented on #894
It could be related yes. The hot-reloading like you can see above right now is very finicky. It's honestly never worked quite right since React 16.6 and I have a really good feeling that it's upstream in RHL.

Ultimately, @theKashey would know more about this issue, since he's heading up RHL nowadays. I know he is also working closely with Gatsby to solve this problem on their end, too. It's likel

[2018-12-18 22:54] cbroberg commented on #896
Hi @tannerlinsley. I have pushed 2 repos here:

https://github.com/cbroberg/react-static-sc
https://github.com/cbroberg/react-static-mui

The -sc works on localhost but has some routing error while served. I have included an image of the error on a web page and in the repo.

The -mui crashes big time on localhost and couldn't get any further with that, which is actually the one I want working the

[2018-12-18 22:58] tannerlinsley commented on #896
I'll try and  take a look in the next day or two. I wouldn’t say I’m the
father of chart.js... more like the step parent.

 I haven’t been involved in that project for over a year now but originally
me and Evert timberg created v2 which is what most people know and love
today.

On Tue, Dec 18, 2018 at 3:54 PM Christian Broberg <notifications@github.com>
wrote:

[2018-12-18 23:44] farskid commented on #893
I just upgraded my personal website's codebase which was using react-static v5 to v6 and had to do a handful of refactors for router to work the same. Probably I can help with the migration of routing and specially nested dynamic routes from v5 to v6.

[2018-12-18 23:55] tannerlinsley commented on #896
KRSHHHH. Requesting write permissions. Over.

[2018-12-18 23:59] tannerlinsley commented on #896
So you'll notice I pushed some changes to your MUI repo.

Most of the changes should speak for themselves, but you'll see notes anywhere I needed to leave them. Let me know if that gets you where you'd like to be.

[2018-12-19 00:54] cbroberg commented on #896
Thanks @tannerlinsley. I got the localhost version of react-static-mui working, but it has the same routing error as the https://github.com/cbroberg/react-static-sc has when trying to yarn serve or surge.sh the static site.

![screen shot 2018-12-19 at 01 20 42](https://user-images.githubusercontent.com/486755/50192056-01ccf180-0331-11e9-96c7-96f869e0da55.png)

[2018-12-19 04:38] theKashey commented on #894
1. React-Hot-Loader 4.3.0 and below was not supporting `forwardProps`, thus StyleComponents were broken.
2. React-Hot-Loader 4.6.1 and below has a bug if you call `hot(module)(app)` twice per one module. Resolved in 4.6.2 yesterday - https://github.com/gatsbyjs/gatsby/issues/10528
3. There is a bug with HOC of different sort (for example Redux), where any your component could replace any your comp

[2018-12-19 04:40] theKashey commented on #894
Just give me some example to reproduce, and I'll fix it.

[2018-12-19 06:05] tannerlinsley commented on #894
Start with installing react static and running `react-static create` and
choosing the basic template. From there you can experiment with different
RHL configurations and also try editing any of the src files. It's very
straight forward, almost like CRA.

On Tue, Dec 18, 2018 at 9:40 PM Anton Korzunov <notifications@github.com>
wrote:

[2018-12-19 08:15] Pixelatex commented on #894
@theKashey the weird thing is that it hot reloads the pages... but... it ditches all the html in app.js.

pre-hot-reloaded app.js does this:

[code]
After hotreload, this is what you get:

[code]

[2018-12-19 08:17] mikestopcontinues commented on #893
@farskid, I'd really like to see how you did your work, and I'd also be happy to contribute to the docs as well, once I get things running.

[2018-12-19 09:41] theKashey commented on #894
@tannerlinsley - react-hot-loader/babel is applied twice :)

[2018-12-19 10:06] theKashey commented on #894
Some packages are inside node_modules, some packages are inside react-static. It always uses the "closest one", as result - just not work.

react/react-dom/react-hot-loader should be singlentones.
<img width="303" alt="screen shot 2018-12-19 at 9 04 45 pm" src="https://user-images.githubusercontent.com/582410/50213489-e5cd5c80-03d1-11e9-90ca-2261ceca5d53.png">

[2018-12-19 11:43] Vinnl opened #900 "TypeScript typings do not export <Root>"
### Are you reporting a bug?

Yes.

I'm trying to upgrade a project to v6, and one of the first things I'm running into is that I want to `import { Root} from 'react-static'`, but TypeScript tells me

Which is correct: I don't see Root being exported from `index.d.ts`.

### Environment

1.  `react-static -V`:
6.0.9
2.  `node -v`:
v10.14.1
3.  `npm -v`:
6.4.1
4. `yarn -v` (I use Yarn):
1.12.3
5.  O

[2018-12-19 12:13] shriharip opened #901 "specifying start --debug still uglifies and not able to debug"
### Are you reporting a bug?

It might be a question, but I have seen unanswered queries in spectrum related to debug and could not find anything in stack overflow also  and hence reaching out here. Plz request your help.

I am trying to debug the static.config.js file and not able to successfully do it. I am setting the start command with --debug flag but still it does not work

### Environment

[2018-12-19 12:17] Pixelatex commented on #901
Hey there!

Debug only works for build, not start as start is always in dev mode. and should not be uglified anyway.

I'm not sure what you are expecting the debug flag to do?

[2018-12-19 12:43] shriharip commented on #901
Hi @Pixelatex , Thanks so much for the response.

ok. I wanted to debug static.config.js but it does not show up on the sources tab.  (I see all other files in the directory).

If I set the debug point in my VS code in static.config.js it does not stop at the breakpoint either.
console.log inside the static.config.js also does not console log anything.

How can I debug the static.config.js file ,

[2018-12-19 12:45] cbroberg commented on #896
I have now tried AWS where we under Apache host all our stuff and it still doesn't work with the routing under /blog.

I have now tried 3 different cases and all with the exact same result:
http://kanata.webhouse.net/
http://react-static-mui.surge.sh/
http://localhost:3002/ (with yarn server as proposed in react-static package.json)

If you try the 2 real domains above and go to http://kanata.webh

[2018-12-19 13:06] Pixelatex commented on #896
@cbroberg it's not your routing that's failing.(well directly atleast) The error that occurs is caused by your props that are missing. Your server cannot load the data jsons for their respective routes, only when it's a new refresh.

[2018-12-19 13:12] leekad opened #902 "React-static not work with babel-plugin-import"
### Are you reporting a bug?
yes

### Environment

1.  `react-static -V`: `6.0.9`
2.  `node -v`: `v11.4.0`
3.  `npm -v`: `6.4.1`
4.  Operating system: MacOS Mojave
5.  Browser and version (if relevant): Chrome

### Steps to Reproduce the problem, repo here [https://github.com/leekad/react-static-antd-error](https://github.com/leekad/react-static-antd-error)

**Base your steps off of any freshly in

[2018-12-19 13:16] leekad opened #903 "[v6] Plugin options bug"
### Are you reporting a bug?
yes

### Environment

1.  `react-static -V`: `6.0.9`
2.  `node -v`: `v11.4.0`
3.  `npm -v`: `6.4.1`
4.  Operating system: MacOS Mojave
5.  Browser and version (if relevant): Chrome

### Steps to Reproduce the problem, repo here [https://github.com/leekad/react-static-antd-error](https://github.com/leekad/react-static-antd-error)

1. I create `react-static-plugin-less`

[2018-12-19 18:03] tannerlinsley commented on #894
Interesting. I'll try and correct this and see if it changes anything.

On Wed, Dec 19, 2018 at 3:06 AM Anton Korzunov <notifications@github.com>
wrote:

[2018-12-19 19:32] sgup opened #905 "Have to restart `yarn start` after every few minutes"
### Are you reporting a bug?

Dev server stops reloading changes. Network request to `localhost:3000` is not responsive, and yarn `=> [✓] Build Updated` stops happening.

### Environment

1.  `react-static -V`: 6.0.6
2.  `node -v`: v11.0.0
3.  `npm -v`: 6.4.1
4.  Operating system: OS X v 10.14
5.  Browser and version (if relevant): Chrome Version 71.0.3578.98

### Steps to Reproduce the problem

*

[2018-12-19 22:21] ashrewdmint commented on #713
This seems to be happening for me with `react-static` at `^6.0.10`. I'm currently investigating it.

[code]

[2018-12-19 22:30] farskid commented on #713
@ashrewdmint Happened to right now when upgraded from v6.0.8 to v6.0.10.

[2018-12-19 22:52] ashrewdmint commented on #713
It seems like you have to make sure the `rimraf` package is installed, and also that you `cd` into the `react-static` package in `node_modules` and run `yarn build`. Then it works.

[2018-12-19 22:55] tannerlinsley commented on #713
This should not be necessary and it's definitely a bug. I'll look into it
asap

On Wed, Dec 19, 2018 at 3:52 PM Andrew Smith <notifications@github.com>
wrote:

[2018-12-19 22:59] tannerlinsley commented on #713
Upgrade to 6.0.11 and try again?

[2018-12-19 23:00] farskid commented on #713
@tannerlinsley Fixed by upgrading to v6.0.11 👍

[2018-12-19 23:07] tannerlinsley commented on #883
We fixed some issues with routing race conditions in the last update. Please update to the latest version and try the build again. Reopen if problem still exists.

[2018-12-19 23:07] #883 closed

[2018-12-19 23:09] tannerlinsley commented on #890
For now the [changelog](https://github.com/nozzle/react-static/tree/master/CHANGELOG.md) is the best place to upgrade your old sites to v6. There is no plan to include or build an automatic updater (this would be close to impossible)

[2018-12-19 23:09] #890 closed

[2018-12-19 23:10] tannerlinsley commented on #881
@paavohuhtala Can you please paste a link to your code so we can better diagnose the issue?

[2018-12-19 23:12] tannerlinsley commented on #901
The static.config.js file runs in the node context, not the browser, so you would need to use a node debugger. We currently don't have any official docs on how to do that yet, but you can simply use `console.log` in your static config to get pretty far. It will simply log to the terminal.

If you'd like to contribute to the docs for step-debugging static.config.js, feel free to open a PR for the c

[2018-12-19 23:12] #901 closed

[2018-12-19 23:13] tannerlinsley commented on #897
Closing this for now. If you are able to fix the JSON ajax issue and still have problems, feel free to reopen this issue.

[2018-12-19 23:13] #897 closed

[2018-12-20 00:32] tgrrr commented on #890
@tannerlinsley Thanks for the head's-up, but the breaking changes don't affect me.

An automatic update would be ridiculous. I reported it because there was a terminal message to update to the latest when I ran the cli.

It sounds like it's an edge case, happy to close it.

[2018-12-20 00:38] paavohuhtala commented on #881
Seems to work in latest version. Thanks! This was in `6.0.4` with the now-deprecated SASS template, as stated in the original post.

[2018-12-20 00:45] tannerlinsley commented on #890
Oh awesome. I misunderstood then.

On Wed, Dec 19, 2018 at 5:32 PM Phil <notifications@github.com> wrote:

[2018-12-20 03:45] ScriptedAlchemy commented on #881
@paavohuhtala theres a pr open here, let me know if it solves the issue?
https://github.com/nozzle/react-static/pull/899/

[2018-12-20 04:03] ScriptedAlchemy commented on #905
Ive seen this before, maybe. Can you check your processes and let me know if theres multiple node process running, either consuming lots of cpu or just loads of dead ones.

If you clear them out (terminate all node processes) and watch them, do you see a bunch of idel or constantly active node process show up over development time.

If so, i think this is something buggy in yarn, because this is h

[2018-12-20 04:52] tannerlinsley commented on #905
My guess is this has to do with the faulty hot reloading setup we're also
trying to fix.

On Wed, Dec 19, 2018 at 9:03 PM Zack Jackson <notifications@github.com>
wrote:

[2018-12-20 05:45] max80713 opened #906 "TypeError: Cannot read property 'map' of undefined"
The problem still exists after updating to the latest version(v6.0.11). See: [#883](https://github.com/nozzle/react-static/issues/883)

### Environment

1. react-static -V: 6.0.11
2. node -v: v8.9.0
3. npm -v: 5.5.1
4. Operating system: macOS Mojave 10.14
5. Browser and version (if relevant):

### Steps to Reproduce the problem

1. react-static create
2. yarn build
3. yarn serve

#### result

navi

[2018-12-20 06:35] ScriptedAlchemy commented on #905
Question, does this happen if you use NPM, npx and not yarn to start tasks? I notice this problem specifically with yarn and on many different platforms

[2018-12-20 07:00] arnediekmann commented on #883
I can still reproduce the issue consistently after updating to 6.0.11.

[2018-12-20 09:19] Vinnl commented on #906
Interesting: it's the destructuring that breaks it, i.e. in this case

[code]

`posts` is undefined, but in this case

[code]

`routeData.posts` is not, and the page does not break.

[2018-12-20 09:38] Vinnl opened #907 ""Error: This page template could not be found and a 404 template could not be found to fall back on. This means something is terribly wrong and you should probably file an issue!""
### Are you reporting a bug?

Yes; I got the following error:

Obedient as I am, here I'm filing the issue. Unfortunately, I'm not quite sure what data is relevant.

### Environment

1.  `react-static -V`:
2.  `node -v`:
3.  `npm -v`:
4.  Operating system:
5.  Browser and version (if relevant):

### Steps to Reproduce the problem

**Base your steps off of any freshly installed react-static templat

[2018-12-20 09:38] cbroberg commented on #896
So do you have any examples you know for sure that works with yarn serve on the DIST build static version? @Pixelatex @tannerlinsley

Please advice.

[2018-12-20 16:53] tannerlinsley commented on #907
This could mean a few things. The most likely is that your templates and
data are unfortunately not being fetched. If you could post a link to your
repo and or your site we can then diagnose from there.

On Thu, Dec 20, 2018 at 2:38 AM Vincent <notifications@github.com> wrote:

[2018-12-20 16:56] tannerlinsley commented on #896
This usually has to do with hosting but not always. The basic template is
very stable and should work both in dev mode and after being built and
served with a static file server.

On Thu, Dec 20, 2018 at 2:38 AM Christian Broberg <notifications@github.com>
wrote:

[2018-12-20 17:22] Vinnl commented on #907
Luckily it's open source, so I can: https://gitlab.com/Flockademic/plaudit/tree/82-migrate-to-react-static-v6/website

(Note that that's a specific folder in a specific branch.)

[2018-12-20 19:10] paavohuhtala commented on #906
I can confirm the issue still exists with https://opensage.github.io ([source code](https://github.com/OpenSAGE/opensage.github.io/tree/gh-pages)). For instance, navigate to https://opensage.github.io/blog/ and click any of the articles. The page will crash because of missing route data. Also, navigating from the front page to the blog post listing will result in an empty listing.

I've upgraded t

[2018-12-20 19:16] sgup commented on #905
@ScriptedAlchemy same issue with `npm start`. I think it's an issue with `react-static start`

[2018-12-20 19:43] paavohuhtala commented on #906
This also happens with a brand new site generated from `react-static create`, choosing basic template.

Don't take this the wrong way, but for the about a week I've been testing `react-static` I haven't gotten it to work properly a single time, on 3 different computers and/or a CI server.

Does anyone actually use this in production? Are all of my computers and CI instances cursed, or is this tool

[2018-12-20 19:48] Vinnl commented on #906
@paavohuhtala The original report already stated that this was the case on the basic template.

Note that v6 has just been released, and it appears that there are still quite a few kinks that are to be worked out. I haven't been able to upgrade my sites to v6 yet, but v5 is still running smoothly in production, so you mind want to stick to that for now.

[2018-12-20 19:55] paavohuhtala commented on #906
Yeah, perhaps I chose a wrong time to try this. As an outsider without prior experience with the tool I expected what Yarn installed (6) to work at least at a basic level, as it's marked as stable. I understand that every release has its challenges and new bugs come up and maintaining this isn't anyone's dayjob, but I'm just surprised that 6 is marketed as stable even though it literally doesn't w

[2018-12-20 21:35] georgehenderson commented on #906
I was able to get the example "working" by adjusting `static.config.js` and using localProps (undocumented maybe for good reason).

[code]

Definitely seems like the shared data hashes to flush out allProps is borked, but I don't know the codebase well enough to say for sure.

[2018-12-20 21:40] georgehenderson commented on #906
Furthermore, it seems like the routeInfo when built does not have all the info it needs. And so navigating to a new route through the Link component is busted, hard page reloads work though since the data for the route does get serialized into the markup. My comment above shims the data for the route from localProps but id expect the object returned from getData to just work so there probably is a

[2018-12-21 00:43] ScriptedAlchemy commented on #905
okay yeah, then this must be an issue there. you are not like adding new files or anything? which would cause those new files to not be seen by the build? Trying to cover the common cases i have seen before.

just normal changes to existing files, then after a little dev ... it just stops working?

[2018-12-21 00:44] sgup commented on #905
@ScriptedAlchemy Yes exactly, normal changes inside js files. I know I have to restart the server if I add/remove files or edit the config.

[2018-12-21 01:26] paramr opened #910 "dev run shows different styling than production build"
### Are you reporting a bug?
I am trying to build static site using material-ui.  Sample is at:  https://github.com/paramr/react-static-issue/tree/master .  when I run in dev i see styling of UI which disappears when I run in prod.
Dev:
<img width="663" alt="screen shot 2018-12-20 at 5 14 38 pm" src="https://user-images.githubusercontent.com/691499/50319185-d35b2d80-047a-11e9-9364-c37e5148eb19.png

[2018-12-21 01:38] Herohtar commented on #910
Something changed with `renderToHtml` and they added `renderToComponent`, but I never saw what exactly the changes were and the docs are kind of vague about how they work.

As best I can tell, you now have to do something like this, but I'm still trying to resolve other build issues with v6, so I can't confirm that it actually works:
[code]

[2018-12-21 01:49] paramr commented on #910
Thanks for more pointers.  I will try to play with this more.

But my bigger concern is to understand why deployment and dev builds diverge.  Isn't it a bit scary? :)

[2018-12-21 01:54] tannerlinsley commented on #910
Sounds like we should have removed the renderToHtml and component methods
entirely and only offer the node.api.js plugin hooks. I'll post how to get
material UI working asap.

On Thu, Dec 20, 2018 at 6:50 PM Param Reddy <notifications@github.com>
wrote:

[2018-12-21 02:04] paramr commented on #910
ok got it working.

[code]

and removed renderToHtml.

Not back to my original question on why there is difference between dev and build version?  Doesn't renderToElement/renderToHtml get called for dev version?  If not how do I make sure both paths give essentially same results.

[2018-12-21 04:10] ScriptedAlchemy commented on #905
Hmm. This is strange, I’ll have to touch base with tanner and see what it could be.

This seems very strange and may be related to our CMR? Or an old version of HMR

[2018-12-21 07:59] ScriptedAlchemy commented on #905
@tannerlinsley could this be related to either old HMR or RS cold module reloading? Perhaps the cache is overflowing or something?

[2018-12-21 08:02] ScriptedAlchemy commented on #903
Details as to what we are looking for? What’s the bug you are having?

[2018-12-21 08:04] ScriptedAlchemy commented on #906
This could be related somehow to either the object being mutated. Something myself and James call “build the plane as it flys” causing it to both work and not work during runtime.

Or Babel destructuring is messed up?

[2018-12-21 08:07] ScriptedAlchemy commented on #894
@theKashey thanks for stepping in here! Really appreciate it when the authors themselves come forwards to help. It’s few and far between. #broforce

[2018-12-21 08:09] ScriptedAlchemy commented on #881
Yeah it looks like v2 changed the api on us recently. Ughhh there’s a PR I just merged in and should deploy up. Please tag me in css stuff. I own most of the css related plugins used on Webpack 4

[2018-12-21 08:12] ScriptedAlchemy commented on #767
Extract text plugin should be dead by now. I hope. Use extract css chunks Webpack plugin or mini css if you don’t care about hot reloading css in dev.

There is considerations of myself joining Webpack contribution team and taking over maintainance of miniCSS. So either way, it’s my code.  If u use RS5 use the V2of extract css chunks Webpack plugin

[2018-12-21 08:16] ScriptedAlchemy commented on #910
This solved? Or must I step in here?

[2018-12-21 13:16] cbroberg commented on #896
Still doesn't work.

Could you try the following with your package:

$ react-static create
$ Select Basic
$ yarn
$ yarn build
$ yarn serve

And then tell me that you do not get and error when you access /blog ...

[2018-12-21 14:39] kations opened #911 "Document error on v6"
If I use this in basic v6 template:

// static.config.js
export default {
  Document: ({ Html, Head, Body, children, siteData, renderMeta }) => (
    <Html lang="en-US">
      <Head>
        <meta charSet="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
      </Head>
      <Body>{children}</Body>
    </Html>
  ),
}

I get the error that react is not defined

[2018-12-21 14:43] paramr commented on #910
Thanks for response ScriptedAlchemy.  It seems to work with changing renderToElement.  However question is still valid on why dev and prod version diverge without renderToElement (expectation in that case would be both are rendered with same styling).  So would love to understand the reason behind the divergence.  At the minimum there is a gotcha that needs to be documented (or may be it already i

[2018-12-21 14:46] tannerlinsley commented on #911
You must import react wherever you use jsx

On Fri, Dec 21, 2018 at 7:39 AM Thomas Schöller <notifications@github.com>
wrote:

[2018-12-21 14:46] #911 closed

[2018-12-21 14:47] tannerlinsley commented on #900
Feel free to submit a PR with the necessary changes

[2018-12-21 14:51] tannerlinsley commented on #905
Could be. I still think it's something with the hmr or data data hot reloading. It's difficult to profile too. I'll look into it more today.

[2018-12-21 15:05] kations commented on #911
yes but in 6.0.2 it failed with another error after importing react. In 6.0.11 it seems to work now 👍

one short question: how could I get the routeData there for title and some meta tags?
Thanks

[2018-12-21 17:49] tannerlinsley commented on #822
Fixed with #855

[2018-12-21 17:49] #822 closed

[2018-12-21 17:50] tannerlinsley commented on #882
The typescript template is now deprecated in favor of a plugin.

[2018-12-21 17:50] #882 closed

[2018-12-21 17:53] tannerlinsley commented on #902
I'm not sure how to fix or diagnose this issue. Does anyone have any experience with this babel plugin?

[2018-12-21 17:54] tannerlinsley commented on #907
Just released a patch that fixes some major issues we found with routeInfo.json files. Will you please upgrade to the latest and try again?

[2018-12-21 17:57] tannerlinsley commented on #906
There was a gaping bug found with routeInfo in both the dev server and production builds and a patch has been released. Please upgrade to the latest version and verify the issue again.

[2018-12-21 18:02] tannerlinsley commented on #910
The process of static generation doesn't happen at dev time, as this would be too costly and slow and just doesn't make sense for developer experience.

Both `renderToElement` and `renderToHtml` are methods that are used only to produce the static HTML for the static site. That HTML is then used as the starting point for the app to rehydrate.

Just as with any static site generation in React, ther

[2018-12-21 18:02] #910 closed

[2018-12-21 18:03] tannerlinsley commented on #896
I just released a very major patch for some issues with routeInfo.json files and also the dev server. Both should be more consistent in behavior now and I hope will fix the problems you're experiencing.

Can you upgrade and confirm?

[2018-12-21 18:05] #713 closed

[2018-12-21 18:07] tannerlinsley commented on #905
I just released a big fix for routeInfo and dev server data. We should investigate this again with the latest version as things could hopefully be resolved.

[2018-12-21 18:08] tannerlinsley commented on #900
Closing for now, since typescript is not technically or officially supported by React Static (but is absolutely possible and used by some today).

Would love to see a PR to fix this.

[2018-12-21 18:08] #900 closed

[2018-12-21 18:08] tannerlinsley commented on #767
Since templates are deprecated, and there is a typescript plugin now, shall we close this?

[2018-12-21 18:44] kennu commented on #767
At least I am happy to move on if there is now a new solution.

[2018-12-21 18:51] tannerlinsley commented on #767
Yeah, I think that's the best option. The plugin will offer a lot more flexibility than an example that will get outdated. Let's track any issues with the plugin there from here on out: https://gitlab.com/Vinnl/react-static-plugin-typescript

[2018-12-21 18:51] #767 closed

[2018-12-21 19:32] justinkuntz commented on #902
Probably related, I just updated and used 'react-static create' utilizing the stress test template and received the following error when doing 'yarn start':
'''Error: Cannot find module 'react-static/babel-preset.js' from '/Users/groot/Projects/ddtsi-static'''

[2018-12-21 20:14] georgehenderson commented on #906
Fixed!

[2018-12-21 20:21] georgehenderson commented on #906
I am seeing new error in the console for production builds. Its trying to reference `routeInfo.fullData` but routInfo is the markup string.

<img width="894" alt="screen shot 2018-12-21 at 2 19 47 pm" src="https://user-images.githubusercontent.com/1379792/50362052-bc284880-052b-11e9-8444-76a1af501fc1.png">

[2018-12-21 20:31] tannerlinsley commented on #906
Can you point us to your site? My guess is that your server isn't serving the JSON files correctly (and redirecting the requests of routeInfo.json files to your index.html or something similar)

[2018-12-21 20:36] Herohtar commented on #832
@tannerlinsley This issue got closed by stale-bot, but I am encountering this issue in `v6.0.14`.

[2018-12-21 20:36] georgehenderson commented on #906
@tannerlinsley Oh I see, what's happening. I have a non-static route called `/account` that lives in the header. It looks like it is trying to find routeInfo.json for that route and my server is redirecting a catchall route back to index.html. Is it expected for react-static to try to find routeInfo for routes it doesnt own? Should my server expect this and throw a 404?

[2018-12-21 20:36] tannerlinsley commented on #832
Can you post a link to your repo?

[2018-12-21 20:37] Herohtar commented on #832
Sure, it's here: https://github.com/Herohtar/thalion-herohtar

[2018-12-21 20:39] tannerlinsley commented on #906
Technically no, the fact that RS tries to load routeInfo for that path isn't a bad thing. When it 404's it merely assumes that it isn't a static-progressive path. It get's marked as such and isn't requested going forward. Unfortunately, without loading a massive JSON file of every possible static route into the runtime, this is the best way to determine if a path is an RS one or not.

[2018-12-21 20:40] tannerlinsley commented on #906
At one point, we *did* load a JSON file with all possible routes, but for even big-ish sites, it quickly became a performance bottleneck.

[2018-12-21 20:42] tannerlinsley commented on #906
Do you get any errors/warnings on build?

[2018-12-21 20:45] paramr commented on #910
Thanks for explanation.

[2018-12-21 20:46] georgehenderson commented on #906
Nope no errors. Returning a 404 fixed the issue. Thanks!

The only other issue i'm seeing is navigating back or forward via the browser arrows to a non-static route borks and throws an error.

<img width="1698" alt="screen shot 2018-12-21 at 2 44 48 pm" src="https://user-images.githubusercontent.com/1379792/50362893-28587b80-052f-11e9-9356-5700216e24bd.png">

[2018-12-21 20:47] tannerlinsley commented on #906
Let me look into this for a second...

[2018-12-21 21:01] kirklikecaptain commented on #907
I just upgraded to 6.0.14, still seeing the same error when hitting an unknown path.

The error happens in both cases:
- 404.js component in scr/pages
- Manually defining 404 path/component in static.config

This issue persists when built/served.

[2018-12-21 21:07] tannerlinsley commented on #907
Yeah, we're seeing it too (now being caused by a different bug). We're working on a fix. Thanks for your patience!

[2018-12-21 21:10] tannerlinsley commented on #906
How are you doing your dynamic routes? We're still working on an example for this ourselves ([interim example is located here](https://github.com/nozzle/react-static/blob/master/docs/guides/dynamic-routes-reach-router.md)).

[2018-12-21 21:14] georgehenderson commented on #906
Here's the gist, all static routes are a single reach router `default` route.

[code]

And the account page

[code]

[2018-12-21 21:15] tannerlinsley commented on #906
Awesome. That's what I'm testing with. Stay tuned...

[2018-12-21 21:49] tannerlinsley commented on #906
Alright, just did a patch release to handle an unhandled edge case for dynamic routes and 404 templates. Can you upgrade and test your dynamic route again?

[2018-12-21 21:50] tannerlinsley commented on #907
Alright, just did a patch release to handle an unhandled edge case where 404 templates were sometimes not loaded correctly. Can you upgrade and test again?

[2018-12-21 21:56] georgehenderson commented on #906
Nice! Verified fixed in both dev and prod builds. Thanks for patching, and being so responsive.

[2018-12-21 22:03] kirklikecaptain commented on #907
Looks like it's working again in 6.0.15 for both cases:

- 404.js component in scr/pages
- Manually defining 404 path/component in static.config

The fallback 404 worked when neither were specified. Thanks for the quick fix!

[2018-12-21 22:14] tannerlinsley commented on #906
Awesome! Thanks for helping. Spread the good word!

[2018-12-21 22:14] #906 closed

[2018-12-21 22:14] tannerlinsley commented on #907
Awesome! You bet. Spread the good word!

[2018-12-21 22:14] #907 closed

[2018-12-21 22:16] Herohtar commented on #832
@tannerlinsley Still seems to be not generating on my site even with the 404-related changes in `v6.0.15`. Am I doing something wrong?

[2018-12-21 22:41] tannerlinsley commented on #896
FYI, this guide is a work in progress, but should help a bit!

- [Guides - Material UI](https://github.com/nozzle/react-static/blob/master/docs/guides/material-ui.md)

[2018-12-21 22:46] Herohtar commented on #832
Looks good now!

[2018-12-21 22:46] tannerlinsley commented on #832
Awesome. Thanks for the help!

[2018-12-21 23:15] georgehenderson commented on #906
One thing I did find useful with dynamic route rendering is to create a placeholder route to house a shell of the application. Rendering the root path can cause issues with flashing if there is content baked into the markup. My `Shell` component looks like this:
[code]

[2018-12-21 23:41] tannerlinsley commented on #906
That's interesting. Yeah there are so many different ways of mixing dynamic and static content. It really depends on each project and situation, but like you've found, there's usually a good solution to each of those situations.

[2018-12-21 23:42] tannerlinsley commented on #903
We just pushed a fix for a bug that was causing this. It had to do with plugin resolution. Please upgrade, try again, and reopen this issue if the problem persists.

[2018-12-21 23:42] #903 closed

[2018-12-22 08:01] Vinnl commented on #900
Yes, I hope to look at it over the holidays. I take it the typings as a whole then are not updated for v6?

Btw, if it's not officially supported, it might be worthwhile to consider moving the typings to DefinitelyTyped? That's usually a sign that they're more likely to be lagging behind the official project compared to when the project itself hosts them. But for now I'll submit them here if I get

[2018-12-22 14:33] cbroberg commented on #896
Thanks @tannerlinsley and @Pixelatex that's what you would call an early Christmas present because now it actually works. So I was right and not just a douche complaining over my own lack of engineering skills ;)

Now I can commence my real react-static trials 👍

Merry Christmas to ya'll and a happy new year 💯

[2018-12-22 14:33] #896 closed

[2018-12-22 16:31] ScriptedAlchemy commented on #907
Was this touting or chunk flushing related? Quick summary so I can help more

[2018-12-22 16:33] tannerlinsley commented on #907
Nope. This was a route info issue.

On Sat, Dec 22, 2018 at 9:31 AM Zack Jackson <notifications@github.com>
wrote:

[2018-12-22 17:18] Vinnl commented on #907
Tested the fix here as well; works like a charm. Thanks!

[2018-12-22 17:19] bernatfortet commented on #900
That would be aswesome.
For now I just added:
`export class Root extends React.Component {}`

[2018-12-22 17:27] mirkonasato opened #913 "yarn start fails: cannot find module 'react-static/babel-preset.js'"
### Are you reporting a bug?
Yes

### Environment

1.  `react-static -V`: 6.0.18
2.  `node -v`: v10.14.2
3.  `npm -v`: 6.4.1
4.  Operating system: macOS 10.14.2
5.  Browser and version (if relevant):

### Steps to Reproduce the problem

1. Create a new project:
[code]
2. Start the dev server:
[code]

[2018-12-23 03:51] mjsisley commented on #913
Template is installing the wrong version of `react-static`. If you bump the version in `package.json`, it fixes the issue.

[2018-12-23 06:41] tannerlinsley commented on #913
Like like we need to fix the template.

On Sat, Dec 22, 2018 at 8:51 PM Matthew Sisley <notifications@github.com>
wrote:

[2018-12-23 09:46] mjsisley commented on #905
I was experiencing issues with this (had to restart server to see changes) when starting from the `basic` template. Bumping the version of `react-hot-loader` to latest resolved the issue for me.

[2018-12-23 10:00] digitalkaoz commented on #881
https://github.com/nozzle/react-static/pull/884 this should fix this issue

[2018-12-23 11:04] mirkonasato commented on #913
The `package.json` is actually fine as it says

[code]

It's more that the template also comes with a `yarn.lock` file

[code]

So deleting `yarn.lock` (and `node_modules`) then re-running `yarn` gets the latest version.

Maybe templates shouldn't have a `yarn.lock` file at all?

[2018-12-23 15:07] #881 closed

[2018-12-23 21:32] ScriptedAlchemy commented on #913
Yeah, tanner these lock files are great for corporations and company projects. But I’ve had tons of headaches with the my code not working because of lock files  still installing universal version 2.

 It has definitely gotten better now that we don’t have all those examples, but something to consider

[2018-12-23 21:35] ScriptedAlchemy commented on #905
Yeah I have been talking with the maintainer of RHL, we need to recheck the implementation and make sure we have implemented it in the new way. It’s far more stable as well

[2018-12-23 23:56] tannerlinsley commented on #913
I'm fine not committing the lock files.

On Sun, Dec 23, 2018 at 2:32 PM Zack Jackson <notifications@github.com>
wrote:

[2018-12-24 00:32] tannerlinsley commented on #913
Just need a PR to fix the package.json

[2018-12-24 06:50] tannerlinsley commented on #913
Fixed in #917

[2018-12-24 06:50] #913 closed

[2018-12-24 13:59] madroneropaulo opened #919 "Bring back building with a config object v6"
### Is this a feature request?
I have a use case where I have multiple projects under the same repo, this way I can easily share components and configurations for all of them. Using the node api I want to be able to dynamically set the dist location and the entry point that will change from project to project. I was able to do this on v5 by just passing the static.config object to the build method

[2018-12-24 17:08] #919 closed

[2018-12-25 05:13] cmontgomerymt opened #920 "Plugin documentation page is 404"
I was looking for documentation for using webpack in v6.

1) https://github.com/nozzle/react-static/blob/master/docs/config.md#webpack --> Points to config docs.

2) https://github.com/nozzle/react-static/blob/master/docs/config.md#webpack --> Points to plugin API section

3) https://github.com/nozzle/react-static/blob/master/docs/config.md#plugin-api --> Points to API documentation link

4) https

[2018-12-25 05:50] tannerlinsley commented on #920
Or was converted into a directory. It should be
https://github.com/nozzle/react-static/blob/master/docs/plugins/ or
https://github.com/nozzle/react-static/blob/master/docs/plugins/README.md

On Mon, Dec 24, 2018 at 10:13 PM cmontgomerymt <notifications@github.com>
wrote:

[2018-12-25 05:51] tannerlinsley commented on #920
Please PR any updates to documentation you find! 👍

[2018-12-25 06:02] kirklikecaptain commented on #894
I've been noticing this behavior too.
react-static v 6.0.18

For me, it's only an issue in page-level components. HMR seems to work fine for an App level component and components nested within page-level components, just not the page level components themselves.

Making changes to the page components seems to trigger a rebuild/update which is logged by node, it's just that the browser doesn't upda

[2018-12-26 01:19] cmontgomerymt commented on #920
Thanks.

[2018-12-26 01:19] #920 closed

[2018-12-26 08:34] ScriptedAlchemy commented on #894
Could be my code-splitting points? I’ll check my HMR and also run it past the author of react hot loader himself.

[2018-12-26 15:32] hellojere opened #921 "Missing static.config.js"
### Are you reporting a bug?

Yes. Any of the examples created do not include the `static.config.js` file at all.

### Environment

1.  `react-static -V`: 6.0.18
2.  `node -v`: v11.5.0
3.  `yarn -v`: 1.9.4
4.  Operating system: macOS Mojave 10.14.3 Beta (18D32a)

### Steps to Reproduce the problem

1.  Create a new project with `react-static create`

### Expected Behavior

Project to include the `

[2018-12-26 17:30] tannerlinsley commented on #921
I can confirm that both the `basic` and `stress-test` examples have the necessary static.config.js files after using `react-static create` as expected.

It is important to note that the `blank` example doesn't require any static configuration, thus a `static.config.js` file is not necessary. Of course, you can add one if you'd like.

[2018-12-26 17:30] #921 closed

[2018-12-26 17:31] tannerlinsley commented on #921
If you still think this is an error (eg. the files are still not showing up for you, or you think there is good reason to include a config for the `blank` template), feel free to reopen with more details on how to replicate the issues.

[2018-12-26 17:42] tannerlinsley commented on #919
There are a few reasons for this:
- Historically, both plugins and configs could use *some* of the same hooks, but did not share the same API. This made the documentation confusing, given that there were 2 ways to accomplish the same thing.
- Plugins are sharable, composable, etc. This makes them a more versatile API location than a config file.
- The effort required to use the new plugin system c

[2018-12-26 17:43] tannerlinsley commented on #895
My guess is this issue isn't going to get used, so we can just move forward naturally as people ask for examples or plugins, we can add guides.

[2018-12-26 17:43] #895 closed

[2018-12-26 17:49] tannerlinsley commented on #893
I'v upgraded a large portion of the docs to reflect some important changes:
- Removed old CSS-in-JS explanation from concepts and reference the use of plugins and the plugin API now.
- Removed templates from the concepts
- Updated 404 handling in concepts to reflect the removal of react-router
- Added a `dynamic-routes-reach-router` guide that gives a quick and simple example of how to do dynamic

[2018-12-26 21:02] theKashey commented on #894
@ScriptedAlchemy - check for duplications
- react packages duplication I've noticed in my example
- babel plugins applied twice

Something is very wrong here, and one have to fix it prior any other changes.

[2018-12-27 20:57] theWebalyst opened #923 "README.md link problems"
### Are you reporting a bug?
Yes, kindof...

Problems with the following links in README.md
- https://react-static.js.org goes to https://github.com/nozzle/react-static
- "Pick a template! See the full list of templates" goes nowhere

[2018-12-28 18:13] quiringk commented on #897
@tannerlinsley You were correct.

FYI: On our nginx server droplet we were messing around with CORS configuration for a separate issue which must have affected the loading of the json files. Once I removed the CORS configuration we added things worked like they should.

[2018-12-28 19:48] phaneendra opened #926 "error retrieving static assets if basePath is set"
### Are you reporting a bug?
Yes

### Environment

1.  `react-static -V`: 6.0.18
2.  `node -v`: v10.13.0
3.  `npm -v`: 6.4.1
4.  Operating system: macOS
5.  Browser and version (if relevant): chrome

### Steps to Reproduce the problem

**Base your steps off of any freshly installed react-static template!**

1.  Created a new site using `react-static create` basic template
2.  modify static.config.

[2018-12-29 07:02] ScriptedAlchemy commented on #897
Yeah usually it’s an OPTIONS request which needs to return 200. It’s a preflight check browsers do to see if they are allowed to even make the call. Proxy via node or making options calls return 200 status fixes this

[2018-12-29 18:42] matteofrana opened #929 "cli start error"
### Are you reporting a bug?
Yes, maybe related to my environment

### Problem description
The CLI command `start` returns an error on a newly created project.

[code]

### Environment

1.  `react-static -V`: 6.0.18
2.  `node -v`: 10.9.0
3.  `npm -v`: 6.5.0;
3b. `yarn -v`: 1.12.3;
4.  Operating system: MacOs Mojave (10.14.1)
5.  Browser and version (if relevant): -

### Steps to Reproduce the prob

[2018-12-29 20:18] gristleism commented on #929
Having the same issue with a *very* similar environment, my info below.

## Environment
1. `react-static -v`
6.0.18
2. `node -v`
v10.9.0
3. `npm -v`
6.2.0
3b. `yarn -v`
4. Operating System: MacOs Mojave 10.14.2

##Steps to Reproduce the problem
- Upgraded to react-static v6 ( `npm -g i react-static` )
- `react-static create`, select `basic` template
- `yarn run start`

## Error

[code]

[2018-12-30 00:53] graemefoster commented on #929
Same problem - brand new react-static site, basic template. Same error message.
Have never had react-static on my machine before.

[2018-12-30 00:53] ScriptedAlchemy commented on #894
Thanks Anton, looks like we need to do some digging

[2018-12-30 00:57] graemefoster commented on #929
FWIW I followed this https://github.com/nozzle/react-static/issues/913 and it started working.

[2018-12-30 16:32] tannerlinsley commented on #929
Does upgrading to the latest version fix it?

[2018-12-30 16:33] tannerlinsley commented on #929
Looks like I'll need to double check the release.

[2018-12-30 17:46] matteofrana commented on #929
It must be the yarn.lock file.
If I remove the `yarn.lock` file and the `node_modules` folder and re-install the node modules with `yarn` than it's all right.

[2018-12-30 19:02] sbaumeister opened #930 "Error when starting dev server with global react-static CLI"
After running `react-static start` in a newly created project and visiting http://localhost:3000 I get the following message: `Oh-no! Something’s gone wrong!`
Detailed error output from Chrome: [localhost-1546195846717.log](https://github.com/nozzle/react-static/files/2717426/localhost-1546195846717.log)

Using `npm run start` or `npx react-static start` works just fine.

### Environment
1.  `reac

[2018-12-30 19:02] matteofrana opened #931 "Redirect on built site (yarn serve)"
### Are you reporting a bug?
Yes

### Problem Description
When I run `yarn build` > `yarn serve` I see that if I reload a page (say the "About" page of the basic template) I see for a moment the Home page loading then I am redirected to the About page.
In this way the source a search bot will see is the one of the Home (I see "Welcome to React Static" in the source) because the About page is loade

[2018-12-30 20:20] nozzle commented on #930
This should be fixed in the latest version and is likely related to #929

[2018-12-30 20:20] #930 closed

[2018-12-30 20:21] nozzle commented on #929
This should be fixed in the latest release

[2018-12-30 20:21] #929 closed

[2018-12-30 21:14] matteofrana commented on #931
Oh, I'm sorry.
I thought that `serve` would just serve the `/dist` directory as a static web server to test the production build. Sorry.

[2018-12-30 21:35] tannerlinsley commented on #931
Technically it should. The problem is that every static host is its own
beast. Netlify even has a special routing
layer that does things like redirects etc. The serve package is just the
most basic version of a static server we could find. To really test what
your site will be like in production you must push it to the edge and test
there.

On Sun, Dec 30, 2018 at 2:14 PM Matteo Frana <notificatio

[2018-12-31 04:39] knpwrs opened #932 "CSS Imports are Broken"
# Issue

It seems like all CSS imports are now broken, even in the starter projects.

# Reproduction

[code]

After running those commands you will see the following output (your paths may vary):

[code]

I even tried cloning this repo, running `yarn` and `yarn build`, and using the resulting local build of `react-static`. Same problem. **If you remove all CSS imports then the build works as expec

[2019-01-02 13:36] grmmph commented on #932
any updates on this?

[2019-01-02 23:48] NavyAdmiral opened #936 "Intentionally unused import in Package Guides (?)"
[In Material UI guide there is an unused import at line #12 ](https://github.com/nozzle/react-static/blame/master/docs/guides/material-ui.md#L12)

Is `createMuiTheme` intentionally imported and left unused for awareness about custom themes? If so, wouldn't it be better to document its usage too? If not, why import it at all?

[2019-01-02 23:53] tannerlinsley commented on #936
It's an unused variable by accident. Good find! I've removed it from the guide :)

[2019-01-02 23:53] #936 closed

[2019-01-02 23:55] NavyAdmiral commented on #936
Nice! That still leaves a question for me, how do we go on about using custom MUI themes? 😄

[2019-01-02 23:57] tannerlinsley commented on #936
You should be able to use the theme as you normally would in your App.js or any other top level components. Just use the MUI theme provider and pass in your theme as far as I understand.

https://material-ui.com/customization/themes/#muithemeprovider

[2019-01-03 04:38] ScriptedAlchemy commented on #932
No repo, no ability to reproduce

[2019-01-03 06:26] NavyAdmiral opened #937 "react-router-dom with v6"
I read that @reach/router was a recommended router for v6, but I'd like to make it work with react-router-dom. I've reported the issues I faced [here](https://spectrum.chat/react-static?thread=ce379fed-c233-4e00-8a03-8074b27316dd) with reproducible steps and the changes I made from v5 to v6. Build fails in production and nothing I've tried to resolve it worked. Is there a guide for react-router-do

[2019-01-03 16:36] #932 closed

[2019-01-03 16:41] tannerlinsley commented on #693
The original issue https://github.com/nozzle/react-static/issues/693#issuecomment-408405975 was fixed, but I guess we missed a statement about that.

If you're still having issues, its likely a migration issue (which we are more than willing to help with). Please paste a link to your repo or project where we can take a look and reproduce the problem.

All fresh React Static installations are funct

[2019-01-03 16:41] tannerlinsley commented on #937
I'm currently working on a Guide for this. There might also be a plugin! Stay tuned.

[2019-01-03 18:44] tannerlinsley opened #938 "react-static-plugin-less does not have suffiecient NPM permission for publishing"
@leekad, for now, you'll need to add me (`tannerlinsley`) as an admin via NPM to the `react-static-plugin-less` package

Until we get publishing to an automatic state, I do all of the released from my user and currently can't publish any new releases for this package.

[2019-01-03 18:52] tannerlinsley commented on #937
https://github.com/nozzle/react-static/tree/master/docs/guides/dynamic-routes-react-router

[2019-01-03 18:52] #937 closed

[2019-01-03 21:07] ScriptedAlchemy commented on #938
I can do this in a few hours or less

[2019-01-03 21:08] ScriptedAlchemy commented on #938
Can you do a call around 5 or 6 my time, I’m in Redmond, WA

Ive done this to all my work and here at Starbucks

[2019-01-03 21:10] ScriptedAlchemy commented on #938
You need to follow git commit message conventions though.
This for releasing:
https://github.com/semantic-release/semantic-release

This for CLI like, easy commit message generation:
https://github.com/commitizen/cz-cl

This is super easy to make, I’m working with webpack on commit message validation which ill roll here ASAP. (I got an invite from Tobias to join webpack core)i

[2019-01-03 21:14] tannerlinsley commented on #938
Yeah, just ping me in slack and we can chat whenever you can.

[2019-01-03 22:35] ScriptedAlchemy commented on #938
Cool, I'll be driving but read the links over ahead of time and we will have about an hour

[2019-01-03 22:40] tannerlinsley commented on #938
We might as well add the all-contributors spec while we're at it too. People need to be recognized for their help!

[2019-01-03 23:10] TomerAberbach opened #939 "New version breaks commands"
### Are you reporting a bug?

Yes, commit 7ae29f3172359b02992fbf1df632bd5dc9baf54e breaks the `react-static start` command and probably all other commands if I had to guess. I get the following error output:

[code]

I took a look at the commit I mentioned and it looks like a bunch of `${/* some comment */}` were added in template strings. I think the JavaScript parser expects an actual value in t

[2019-01-03 23:13] tannerlinsley commented on #939
Good catch. Surprised my linter/tests didn't bark at this. Fixed in latest patch!

On Jan 3 2019, at 4:10 pm, Tomer Aberbach <notifications@github.com> wrote:

[2019-01-03 23:17] TomerAberbach commented on #939
I just updated on my end and it looks like it works fine now.

[2019-01-03 23:17] #939 closed

[2019-01-04 03:01] leekad commented on #938
@tannerlinsley 	do you still need admin for this?

[2019-01-04 03:12] leekad commented on #938
@tannerlinsley 	someone publish the same package to npmjs. I cannot publish my package too :)

[2019-01-04 06:48] Herohtar opened #940 "react-static-plugin-jss configured for MaterialUI doesn't always insert correct CSS"
When using `react-static-plugin-jss` configured to use MaterialUI as shown in the guide, some routes are rendered with the correct CSS, but others are not. In the cases where it is missing, the `<style id="jss-server-side">` tag with some minimal CSS is still inserted, but it is not the correct CSS that should be getting rendered.

### Environment

1.  `react-static -V`: 6.1.4
2.  `node -v`: 11.4.

[2019-01-04 16:40] Ziinc commented on #693
Thanks @tannerlinsley  for the clarification. It my global installation version that was lagging behind by a few versions that caused the problem.

[2019-01-04 16:46] tannerlinsley commented on #940
The only difference there is that your `node.api.js` file has the theme extracted to the export level. This might be the key to your styles showing up correctly. Try using your `node.api.js` instead of the plugin and see if that fixes it. If it does, then it's likely we need to make a `react-static-plugin-material-ui` plugin that handles this edge case (hopefully it could just use the `jss` plugin

[2019-01-05 00:09] Herohtar commented on #940
Using my dropped-in `node.api.js` works, as can be seen in the main branch, unless you were wanting me to test it in a different way somehow?

It seems that if I move the `MuiThemeProvider` out like it is for the `jss` plugin branch then the behavior is the same, with the CSS only being inserted on some routes.

[2019-01-05 05:14] tannerlinsley commented on #940
Looks like that's a requirement for Material UI then. We'll need to sort
this out.

On Fri, Jan 4, 2019 at 5:09 PM Herohtar <notifications@github.com> wrote:

[2019-01-05 14:54] Ziinc commented on #926
Seems like your routeInfo.json can be accessed at http://phaneendra.github.io/urbanrunners/blog/routeInfo.json

nothing gets thrown in browser console as well

[2019-01-05 16:12] Ziinc commented on #926
However, seems like not all static assets are being resolved with basePath:

Navigating to http://phaneendra.github.io/urbanrunners/ and clicking on `About` results in a few files not being able to be loaded.

![image](https://user-images.githubusercontent.com/22714384/50726409-9e6ffb80-1147-11e9-8976-08c5f31b3c4a.png)

[2019-01-05 21:33] Herohtar commented on #940
So looking at it some more, the docs seem to imply that you have to give it a `MuiThemeProvider` to use SSR at all for MaterialUI, and state that you need to create a new instance of the sheets manager, sheets registry, and class name generator for each request. I'm not sure of the exact details of how those work together, but it seems separating them out like that causes them to not function corr

[2019-01-06 04:38] leekad commented on #938
Hi @xwl7001 are you there?

[2019-01-06 13:49] treyhuffine opened #944 "withrouter"
### Are you reporting a bug?

### Is this a feature request?

### Environment

1.  `react-static -V`:
2.  `node -v`:
3.  `npm -v`:
4.  Operating system:
5.  Browser and version (if relevant):

### Steps to Reproduce the problem

**Base your steps off of any freshly installed react-static template!**

1.  ...
2.  ...
3.  ...

### Expected Behavior

### Reproducible Demo

[2019-01-06 13:49] treyhuffine commented on #944
oops

[2019-01-06 13:49] #944 closed

[2019-01-06 17:35] ScriptedAlchemy commented on #938
@tannerlinsley i dont know how to add the all contributors thing, but ill start working on semantic release next week / when my wife falls asleep tonight

[2019-01-06 17:38] ScriptedAlchemy commented on #902
it wont, you must use babel-plugin-universal-import only.
its part of universal.

PR features to babel-plugin-universal-import if you need them, but this projects code splitting is based on react-universal-component.

This isn't a bug, this is our architecture

[2019-01-06 17:38] #902 closed

[2019-01-06 18:39] tannerlinsley commented on #938
Sounds good. I'll do the all contributors spec

On Sun, Jan 6, 2019 at 10:35 AM Zack Jackson <notifications@github.com>
wrote:

[2019-01-07 01:31] Herohtar opened #945 "Wrong location from reach-router's Location during static render"
I'm rendering some navigation tabs that are present on all routes, so they are in the main `App.js` component and I'm using the `<Location>` provider from `reach-router` in order to use the location to highlight the tab corresponding to the current page. The relevant component looks like this:
[code]

This works fine when the page is operating live via React; however, the statically rendered versi

[2019-01-07 15:41] benedfit opened #946 "It's possible to produce a "successful" build that yields no JS bundle or HTML"
### Are you reporting a bug?

Yes. It's possible to produce a "successful" build that yields no JS bundle or HTML. I stumbled across this issue when one of my data API end-point was unavailable.

### Environment

1.  `react-static -V`: 6.1.4
2.  `node -v`: 8.9.0
3.  `npm -v`: 5.5.1
4.  Operating system: Mac OS
5.  Browser and version (if relevant): N/A

### Steps to Reproduce the problem

1.  Run

[2019-01-07 15:43] tannerlinsley commented on #946
Yeah, this means an error is likely getting swallowed somewhere during the internal `getRoutes()` call.

[2019-01-07 16:37] gryzzly commented on #599
@tannerlinsley we also have this issue, where in dev mode everything works flawlessly and after the build we are getting `RouteData or withRouteData couldn't find any props for path: sgsrgsrg. You are either missing a route.getData function or you are relying on RouteData/withRouteData where you don't need to.`

In our case the issue is related to paths not matching in `RouteData.js`

[2019-01-07 16:41] tannerlinsley commented on #599
Looks like a bug where the `templateIndex` for 404 pages is not set correctly and ends up trying to load a different template on a 404 hit. If that template uses `RouteData` or `withRouteData` in any way, you will get this error. I'm working on a fix right now.

[2019-01-07 17:00] tannerlinsley commented on #945
Looks like we need to update the default router in Root.js to use the Reach Router static renderer during static export.

[2019-01-07 17:13] tannerlinsley commented on #599
This should be fixed in 6.1.5

[2019-01-07 17:13] #599 closed

[2019-01-07 17:13] tannerlinsley commented on #945
@herohtar would you like to head that up?

[2019-01-07 17:14] tannerlinsley commented on #946
@benedfit Do you feel up to digging into the code for this?